@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

li {
  float: left;
}

li a {
  color: #00264d;
  text-decoration: none;
  display: inline-block;
  padding: 85px 18px 0 18px;
  font-size: 16px;
  font-weight: 500;
}

li a:hover {
  border-bottom: 8px solid #ffdd99;
  transition: 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}



/* contact secton stArt */



.parent-contact {
  height: 10vh;
  background-color: #00264d;
}

.parent-contact .contact {
  width: 50%;
  height: 100%;
  float: left;
}

.parent-contact .contact-socials {
  height: 100%;
  width: 50%;
  float: left;
}

.contact .span1 {
  display: block;
  float: left;
  color: #ccc;
  font-size: 15px;
  padding: 15px 0;
}

.contact .span2 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.span1 i {
  color: gold;
}

.span1 .strong1 {
  font-size: 15px;
  font-weight: 800;
}

.contact:hover .strong1 {
  color: gold;
}



/* icons section stArt */



.contact-socials .icons {
  height: 100%;
  float: right;
  width: 30%;
  padding: 0 5px;
}

.facebook {
  float: left;
  height: 100%;
}
.facebook i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.facebook:hover {
  background-color: #4d4dff;
  transition: 0.5s ease-in-out;
}

.facebook .dropdown {
  margin: 10px auto;
  display: none;

  position: absolute;
}

.dropdown a {
  color: #fefefe;
  font-size: 12px;
  padding: 5px 5px;
  color: gold;
  text-decoration: none;
}

.facebook:hover .dropdown {
  display: block;
  background-color: #00264d;
}

.twitter {
  float: left;
  height: 100%;
}

.twitter i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.twitter:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.twitter .dropdown {
  margin: 10px auto;
  display: none;

  position: absolute;
}

.dropdown .twitter1 {
  color: #fefefe;
  font-size: 13px;
  color: gold;
  display: block;
  text-decoration: none;
}

.twitter:hover .dropdown {
  display: block;
  background-color: #00264d;
}

.linkedin {
  float: left;
  height: 100%;
}

.linkedin i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.linkedin:hover {
  background-color: #0099ff;
  transition: 0.5s ease-in-out;
}

.linkedin .dropdown {
  margin: 10px auto;
  display: none;

  position: absolute;
}

.dropdown .linkedin1 {
  color: #fefefe;
  font-size: 13px;
  color: gold;
  display: block;
  text-decoration: none;
}

.linkedin:hover .dropdown {
  display: block;
  background-color: #00264d;
}

.instagram {
  float: left;
  height: 100%;
}

.instagram i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.instagram:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.instagram .dropdown {
  margin: 10px auto;
  display: none;

  position: absolute;
}

.instagram:hover .dropdown {
  display: block;
  background-color: #00264d;
}

.dropdown:hover .linkedin1 {
  transform: none;
  color: black;
}

.parent-banner .parent-nav {
  height: 20vh;
  background-color: #fffafa;
}

.parent-nav .picDiv {
  width: 20%;
  float: left;
  height: 100%;
}

.logo img {
  margin-top: 10px;
  height: 80%;
  float: left;
}

.parent-nav .navBar {
  width: 60%;
  height: 100%;
  float: left;
}

.navBar .special {
  margin-left: 60px;
}

.special .home {
  font-size: 20px;
}

.navBar .search {
  font-size: 20px;
}

.home:hover:not(.special) {
  border: none;
}

.search:hover:not(.special1) {
  border: none;
}

.parent-nav .button {
  height: 100%;
  float: left;
  width: 20%;
}

.button button {
  margin: 40px auto;
  display: block;
  padding: 20px 20px;
  border: none;
  color: #00264d;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  background-color: #fbfbfb;
  transition: all 0.5s ease-in-out;

  box-shadow: 1px 5px 5px 2px #cccc;
}

.button button:hover {
  color: gold;
  background-color: #00264d;
  transition: 0.5s ease-in-out;
}



/* dropdown secton stArt */



.dropdown2 {
  display: inline-block;
}

.dropdown2 .special2 {
  display: block;
  color: #cccc;
  text-decoration: none;
}

.dropdown2 .content {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: #00264d;
  padding: 15px 20px;
  z-index: 2;
}

.dropdown2:hover .content {
  display: block;
}

.content .special2 {
  padding: 10px 10px;
}

.dropdown2 .special2:hover {
  color: #00264d;
  background-color: gold;
  transition: 0.5s ease-in-out;
}

.special2 .special3:hover {
  color: #00264d;
}

.special2:hover:not(.special3) {
  border-bottom: none;
}



/* second dropdown menu */



.dropdown3 {
  display: inline-block;
  color: #cccc;
}

.dropdown3:hover {
  color: #00264d;
  background-color: gold;
  transition: 0.5s ease-in-out;
}

.dropdown3 .special4 {
  padding: 0 0 0 30px;
}

.dropdown3 .content2 {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #00264d;
  margin: 0 0 0 185px;
  padding: 10px 20px;
}

.dropdown3 .special5 {
  display: block;
  color: #cccc;
  text-decoration: none;
}

.dropdown3:hover .content2 {
  display: block;
}

.dropdown3 .special5:hover {
  color: #00264d;
  background-color: gold;
  transition: 0.5s ease-in-out;
}

.content .dropdown3 {
  padding: 10px 10px;
}

.dropdown3:hover:not(.special3) {
  border-bottom: none;
}

.special5:hover:not(.special6) {
  border-bottom: none;
}

.dropdown3 .special5:hover {
  background-color: gold;
  color: #00264d;
}

.content2 .special5 {
  padding: 10px 10px;
  color: #cccc;
}

.content2 .special6 {
  padding: 10px 0;
}



/*  Top body section stArt  */



.top {
  height: 20vh;
  background-color: #fffafa;
}

.top .top-lft {
  width: 50%;
  height: 100%;
  float: left;
}

.top-lft strong.about {
  font-size: 20px;
  text-transform: capitalize;
  padding: 50px 0 0 0;
  display: block;
  color: #00264d;
}

.top .top-rgt {
  width: 50%;
  height: 100%;
  float: left;
}

.top-rgt .special7 {
  color: #00264d;
  font-size: 18px;
  display: inline;
  float: right;
  padding: 50px 10px 0 0;
  text-decoration: none;
}

.top-rgt .special8 {
  color: #003366;
  font-size: 15px;
  text-transform: capitalize;
  float: right;
  display: inline;
  padding: 50px 10px 0 0;
}



/* about container section stArt */


.about-container {
  height: 140vh;
   background-color: #fefefe;
}

.about-container .about-left {
  width: 33.3%;
  height: 50%;
  float: left;
  text-align: center;
}

.about-left h1 {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f8c617;
  text-align: left;
  opacity: 0.1;
}

.about-left span {
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  color: #f8c617;

  position: relative;
  top: -90px;
  left: -20px;
}

.about-left strong {
  font-size: 45px;
  font-weight: 800;
  padding: 0 70px 0 0;

  position: relative;
  top: -45px;
}

.about-container .about-right {
  width: 66.66%;
  float: left;
  height: 70%;
}

.about-right p {
  font-size: 18px;
  line-height: 1.9rem;
  text-align: left;
  opacity: 0.7;
  padding: 40px 30px 50px 5px;
}

.checkDiv .check-container {
  padding: 5px;
  width: 40%;
}

.check-container .check-list {
  display: flex;
  padding: 5px;
  flex: 1;
  width: 90%;
  gap: 5px;
}

.check-container .check-box {
  height: 50px;
  width: 50px;
  background-color: #252c37;
}

.check-container .box-list {
  height: 50px;
  text-align: center;
  padding: 0px 5px;
}

.about-right .checkDiv {
  height: 42%;
  margin-top: -40px;

  width: 100%;
  padding: 5px;
  display: flex;
  gap: 5px;
  flex: 0 0 300px;
  justify-content: center;
}

.checkDiv .check-container {
  padding: 5px;
  width: 50%;
}

.check-container .check-list {
  display: flex;
  padding: 5px;
  margin-top: 10px;
  flex: 1;
  width: 90%;
  gap: 5px;
}

.check-list:hover .check-box {
  transform: translateX(10px);
  transition: 0.4s ease-in-out;
}

.check-list:hover .box-list {
  transform: translateX(10px);
  transition: 0.4s ease-in-out;
}

.check-container .check-box {
  height: 50px;
  width: 60px;
  background-color: #252c37;
}

.check-box i {
  font-size: 18px;
  color: #f8c617;
  padding: 15px 0;
}

.check-container .box-list {
  height: 50px;
  text-align: center;
  padding: 10px 5px;
}


.box-list p {
  font-size: 15px;
  padding: 0;
  line-height: normal;
  opacity: 1;
}

.about-container .itemDiv {
  height: 30%;
  clear: both;
}

.itemDiv .itemList {
  width: 33.3%;
  height: 100%;
  padding: 10px;
  float: left;
}

.itemDiv .itemList1 {
  width: 33.3%;
  height: 100%;
  padding: 10px;
  float: left;
}

.itemDiv .itemList2 {
  width: 33.3%;
  height: 100%;
  padding: 10px;
  float: left;
}

.itemList .item {
  height: 150%;
  z-index: 2;
  text-align: center;

  background-image: url('../img/construction2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  position: relative;
}

.itemList1 .item1 {
  height: 150%;
  z-index: 2;
  text-align: center;

  background-image: url(../img/worker-helmet2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.itemList2 .item2 {
  height: 150%;
  z-index: 2;
  text-align: center;

  background-image: url('../img/excavator.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.item::before {
  content: "";
  background-color: #f8c617;
  width: 100%;
  height: 100%;
  opacity: 0.7;

  position: absolute;
  top: 0;
  left: 0;
}

.item:hover::before {
  background-color: none;
  opacity: 1;
  position: relative;
}

.item:hover strong {
  display: none;
}

.item:hover .rhombus {
  display: block;
}

.item:hover .rhombus-content {
  display: block;
}

.item1:hover::before {
  background-color: none;
  opacity: 1;
  position: relative;
}

.item1:hover strong {
  display: none;
}

.item1:hover .rhombus {
  display: block;
}

.item1:hover .rhombus-content {
  display: block;
}

.item2:hover::before {
  background-color: none;
  opacity: 1;
  position: relative;
}

.item2:hover strong {
  display: none;
}

.item2:hover .rhombus {
  display: block;
}

.item2:hover .rhombus-content {
  display: block;
}

.item1::before {
  content: "";
  background-color: #f8c617;
  width: 100%;
  height: 100%;
  opacity: 0.7;

  position: absolute;
  top: 0;
  left: 0;
}

.item2::before {
  content: "";
  background-color: #f8c617;
  width: 100%;
  height: 100%;
  opacity: 0.7;

  position: absolute;
  top: 0;
  left: 0;
}

.item strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #252c37;

  position: relative;
  top: 150px;
}

.item .rhombus {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  margin: auto;
  display: none;
  transform: rotate(45deg);

  position: relative;
  top: 100px;
}

.item .rhombus-content {
  width: 100px;
  margin: auto auto;
  text-align: center;
  display: none;

  position: relative;
  top: -20px;
}

.rhombus-content a {
  font-size: 30px;
  font-weight: 600;
  color: #fefefe;
  display: block;
  text-decoration: none;
}

.item1 .rhombus {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  margin: auto;
  display: none;
  transform: rotate(45deg);

  position: relative;
  top: 100px;
}

.item1 .rhombus-content {
  width: 100px;
  margin: auto auto;
  text-align: center;
  display: none;

  position: relative;
  top: -20px;
}

.item2 .rhombus {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  margin: auto;
  display: none;
  transform: rotate(45deg);

  position: relative;
  top: 100px;
}

.item2 .rhombus-content {
  width: 100px;
  margin: auto auto;
  text-align: center;
  display: none;

  position: relative;
  top: -20px;
}

.item1 strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #252c37;

  position: relative;
  top: 150px;
}

.item2 strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #252c37;

  position: relative;
  top: 150px;
}


  /* section counter stArt */


.section {
  height: 130vh;
  text-align: center;
}

.section .banner {
  background-image: url('../img/hammerHead_crane.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

.banner::before {
  content: "";
  background-color: #252c37;
  width: 100%;
  height: 100%;
  opacity: 0.7;

  position: absolute;
  top: 0;
  left: 0;
}

.banner h1 {
  font-size: 120px;
  color: #f8c617;
  opacity: 0.3;
  text-transform: uppercase;
  padding: 140px 0 0 0;

  position: relative;
}

.banner span {
  font-size: 25px;
  color: #f8c617;
  display: block;
  text-transform: uppercase;

  position: relative;
  top: -100px;
}

.banner strong {
  font-size: 50px;
  color: #fefefe;

  position: relative;
  top: -80px;
}

.section .counter {
  height: 25%;

  position: relative;
}

.counter .child {
  height: 100%;
}

.child .child-boxes {
  width: 25%;
  height: 100%;
  padding: 5px;
  float: left;
}

.child-boxes .box {
  height: 100%;
  background-color: #f7fcff;
}

.box .number {
  display: block;
  color: #252c37;
  font-size: 70px;
  font-weight: 200;
  padding: 30px 0 0 0;
  position: relative;
  top: 0;
}

.box .text {
  width: 90%;
  background-color: #f8c617;
  margin: auto;
}

.text span {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  display: block;
  color: #252c37;
  text-transform: capitalize;

  position: relative;
  top: 0;
}


.footer {
    height: 80vh;
    background-color: #252c37;
    text-align: center;;
}

.footer img {
  height: 20%;
  margin: 60px 0 0 0;
}

.footer span {
  display: block;
  color: #cccc;
  font-size: 20px;
  line-height: 2rem;
  padding: 30px 320px 0 320px;
}

.footer .footer-socials {
  width: 30%;
  height: 20vh;
  padding: 30px 0 0 0;
  margin: auto;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -8px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.facebook-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .twitter-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.twitter-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .instagram-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.instagram-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .youtube-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -13px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}

.youtube-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}



.footer1 {
  height: 15vh;
}

.footer1 .footer-lft {
  width: 50%;
  height: 100%;
  padding: 10px 0;
  float: left;
}

.footer-lft span {
  padding: 20px 0;
  display: block;
  color: #737373;
}

.footer1 .footer-rgt {
  width: 50%;
  height: 100%;
  padding: 10px 0;
  float: left;
}

.footer-rgt a {
  float: right;
  color: #737373;
  padding: 20px 10px 0 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-rgt a:hover {
  color: #f8c617;
  transition: 0.5s ease;
}


  /* arrowDiv section stArt */


.arrowDiv {
  border: 1px solid #cccc;
  width: 50px;
  height: 50px;
  background-color: #252c37;
  cursor: pointer;
  z-index: 20;
  display: block;

  position: fixed;
  bottom: 40px;
  right: 30px;
}

.arrowDiv i {
  font-size: 20px;
  font-weight: lighter;
  color: #fefefe;
  padding: 15px 20px;
}

.arrowDiv:hover {
  background-color: #f8c617;
  transition: 0.5s ease;
}

.arrowDiv:hover i {
  color: #252c37;
  transition: 0.5s ease;
}


.phone {
  height: 50px;
  text-align: center;
  display: none;
}

.phone .sm2-phone {
  width: 10%;
  height: 100%;
  float: left;
  display: block;
  background-color: #f8c617;;
}

.sm2-phone i {
  font-size: 35px;
  padding: 5px 13px;
  color: #252c37;
}

.phone .sm2-contact {
  width: 90%;
  height: 100%;
  display: block;
  float: left;
  background-color: #252c37;
  color: #fefefe;
  padding: 8px 0;
}





























































/* contact section for small devices  */



.sm-parent {
  height: 15vh;
  display: none;
}

.sm-parent .sm-nav {
  height: 100%;
}

.sm-nav .sm-picDiv {
  width: 50%;
  float: left;
  height: 100%;
}

.sm-logo img {
  height: 80%;
}

.sm-nav .sm-contact {
  width: 50%;
  height: 100%;
  float: left;
  padding: 20px 0;
}

.sm-contact .sm-box {
  width: 50px;
  height: 50px;
  float: left;
  background-color: gold;
  margin: 0 10px 0 500px;
}

.sm-box .sm-phone {
  margin: auto;
}

.sm-phone i {
  font-size: 35px;
  color: #00284d;
  text-decoration: none;
  margin: 7px 10px;
}

.sm-contact .sm-box1 {
  width: 50px;
  height: 50px;
  float: left;
}

.sm-box1 .button {
  border: none;
  background-color: #00284d;
  position: relative;
  z-index: 1000;
}

.sm-box1 .sm-bars {
  margin: auto;
}

.sm-bars i {
  font-size: 35px;
  color: gold;
  text-decoration: none;
  margin: 7px 10px;
}



/* Hamburger menu section stArt */



.burger-parent {
  height: 80vh;
  float: right;
  margin: 110px auto 0;
  display: none;
  z-index: 100;

  position: absolute;
  top: 0;
  left: 0;
}

.burger-parent.open {
  display: block;
}

.burger-parent .burger-container {
  height: 100%;
  background-color: #000d1a;
}

.items .homemenu {
  color: #fefefe;
  padding: 15px 30px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.items .menu {
  text-decoration: none;
  color: #fefefe;
}

.items span {
  display: block;
  border-bottom: 1px solid #cccc;
  padding: 15px 30px;
}

.items:hover .homemenu {
  color: gold;
  transition: 0.5s ease-in-out;
}

.menu:hover {
  color: gold;
  transition: 0.5s ease-in-out;
}

.socials .socials-container {
  width: 300px;
  height: 100px;
  margin: 50px auto 0;
  padding: 30px 0;
}

.facebooks {
  float: left;
  width: 40px;
  margin: 0 10px 0 50px;
  background-color: gold;
}
.facebooks i {
  color: #fefefe;
  margin: auto 15px;
  padding: 15px 0;
  font-size: 20px;
}

.facebooks:hover {
  background-color: #4d4dff;
  transition: 0.5s ease-in-out;
}

.facebooks .dropdown1 {
  margin: -75px auto;
  display: none;

  position: absolute;
}

.dropdown1 a {
  color: #fefefe;
  font-size: 10px;
  padding: 5px 5px;
  color: gold;
  text-decoration: none;
}

.facebooks:hover .dropdown1 {
  display: block;
  background-color: #00264d;
}

.twitter2 {
  float: left;
  width: 40px;
  margin: 0 10px 0 0;
  background-color: gold;
}

.twitter2 i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.twitter2:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.twitter2 .dropdown1 {
  margin: -75px auto;
  display: none;

  position: absolute;
}

.twitter2:hover .dropdown1 {
  display: block;
  background-color: #00264d;
}

.linkedin2 {
  float: left;
  width: 40px;
  margin: 0 10px 0 0;
  background-color: gold;
}

.linkedin2 i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.linkedin2:hover {
  background-color: #0099ff;
  transition: 0.5s ease-in-out;
}

.linkedin2 .dropdown1 {
  margin: -75px auto;
  display: none;

  position: absolute;
}

.linkedin2:hover .dropdown1 {
  display: block;
  background-color: #00264d;
}

.instagram2 {
  float: left;
  width: 40px;
  margin: 0 10px 0 0;
  background-color: gold;
}

.instagram2 i {
  color: #fefefe;
  margin: auto 10px;
  padding: 15px 0;
  font-size: 20px;
}

.instagram2:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.instagram2 .dropdown1 {
  margin: -75px auto;
  display: none;

  position: absolute;
}

.instagram1:hover .dropdown1 {
  display: block;
  background-color: #00264d;
}

.socials .copy {
  display: block;
  color: #fefefe;
  clear: both;
  text-align: center;
  margin: 10px auto 0;
  font-size: 15px;
  font-weight: 400;
}






















































@media only screen and (max-width: 450px){

  .col-sm-1 {
  width: 8.33%;
  }
  .col-sm-2 {
      width: 16.66%;
  }
  .col-sm-3 {
  width: 25%;
  }
  .col-sm-4 {
  width: 33.33%;
  }
  .col-sm-5 {
  width: 41.66%;
  }
  .col-sm-6 {
  width: 50%;
  }
  .col-sm-7 {
      width: 58.33%;
  }
  .col-sm-8 {
  width: 66.66%;
  }
  .col-sm-9 {
  width: 75%;
  }
  .col-sm-10 {
  width: 83.33%;
  }
  .col-sm-11 {
  width: 91.66%;
  }
  .col-sm-12 {
  width: 100%;
  }


  .parent-contact,
  .parent-banner {
    display: none;
  }

  .sm-parent {
    height: 8vh;
    display: block;
  }
  
  .sm-contact .sm-box {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 90px;
  }
  
  .sm-contact .sm-box1 {
    width: 40px;
    height: 40px;
  }
  
  .sm-box i {
    font-size: 20px;
    padding: 2px;
  }
  
  .sm-box1 .button i {
    font-size: 20px;
  }
  
  .sm-box1 .button {
    padding: 3px;
  }
  
  .sm-logo img {
    height: 55px;
  }
  
  .burger-parent {
    width: 100%;
    margin: 75px auto 0;
  }
  
  .top {
    height: 8vh;
  }

  .top .top-lft {
    width: 100%;
    text-align: center;
  }

  .top-lft strong.about {
    font-size: 17px;
    padding: 20px;
  }

  .top .top-rgt {
    display: none;
  }

  .about-container {
    height: 230vh;
  }

  .about-container .about-left {
    width: 100%;
    height: 7%;
    padding: 0;
    text-align: center;
  }

  .about-left h1 {
    display: none;
  }

  .about-left span {
    position: relative;
    top: 0;
    left: 0;

    font-size: 18px;
    padding: 20px 0 0 0;
  }

  .about-left strong {
    font-size: 23px;
    text-align: center;
    padding: 10px 10px;

    position: relative;
    top: 15px;
  }

  .about-container .about-right {
    width: 100%;
    height: 28%;
  }

  .about-right p {
    font-size: 17px;
    padding: 10px 40px;
    opacity: 0.8;
    text-align: center;
    line-height: 1.5rem;
  }

  .about-right .checkDiv {
    border: 2px solid;
    width: 100%;
    height: 80%;
    margin-top: 880px;
    padding: 0 25px;
    flex-direction: column;
   }
    
    .check-container .check-list{
      width: 170%;
      padding: 0 0;
    }

    .check-box i {
      padding: 10px 20px;
    }

    .check-list .box-list {
      padding: 0;
      line-height: none;
    }

    .box-list p {
      font-size: 13px;
      padding: 5px;
    }

  .about-container .itemDiv {
    width: 100%;
    height: 40%;
    padding: 0 20px;
    margin-top: 1200px;
  }

  .itemDiv .itemList {
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 15px 0;
  }

  .itemDiv .itemList1 {
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 15px 0;
  }

  .itemDiv .itemList2 {
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 15px 0;
  }

  .itemList .item {
    height: 100%;
    display: block;
  }

  .itemList1 .item1 {
    height: 100%;
    display: block;
  }

  .itemList2 .item2 {
    height: 100%;
    display: block;
  }

  .item strong {
    font-size: 25px;
    position: relative;
    top: 100px;
  }

  .item1 strong {
    font-size: 25px;
    position: relative;
    top: 100px;
  }

  .item2 strong {
    font-size: 25px;
    position: relative;
    top: 100px;
  }

  .item .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item .rhombus-content a {
    font-size: 20px;
  }

  .item1 .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item1 .rhombus-content a {
    font-size: 20px;
  }

  .item2 .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item2 .rhombus-content a {
    font-size: 20px;
  }


  .section {
    height: 65vh;
    display: block;
  }

  .banner h1 {
    display: none;
    padding: 0;
  }

  .banner span {
    position: relative;
    top: 10px;

    font-size: 15px;
    padding: 20px 0;
  }

  .banner strong {
    position: relative;
    top: 10px;

    font-size: 20px;
    padding: 10px 0;
  }

  .banner .counter {
    height: 35%;
    margin-top: 50px;
  }

  .child .child-boxes {
    width: 50%;
    padding: 25px 10px;
  }

  .box .number {
    font-size: 50px;
    padding: 50px;
  }

  .box .text {
    width: 80%;
    height: 40px;
    padding: 0;
    position: relative;
    top: -40px;
  }

  .text span {
    font-size: 13px;
    padding: 0;
  }


  .footer {
  width: 100%;
  height: 35vh;
  text-align: center;
}

.footer img {
  height: 60px;
  margin: 20px 0 0 0;
}

.footer span {
  font-size: 10px;
  padding: 20px 50px;
  line-height: 1.2rem;
}

.footer .footer-socials {
  width: 50%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -5px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}




.footer1 {
  height: 8vh;;
}

.footer1 .footer-lft {
  width: 100%;
  height: 100%;
}

.footer-lft span {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}


.footer1 .footer-rgt {
  display: none;
}

.arrowDiv {
  width: 30px;
  height: 30px;
}

.arrowDiv i {
  font-size: 15px;
  padding: 0;
}


.phone {
  width: 100%;
  display: block;
}

.phone .sm2-phone {
  width: 10%;
}

.sm2-phone i {
  font-size: 25px;
  padding-top: 8px;
  margin-left: -5px;
}

.phone .sm2-contact {
  width: 90%;
}

  




  













}















































@media only screen and (min-width:760px) {

  .col-md-1 {
     width: 8.33%;
   }
  .col-md-2 {
      width: 16.66%;
   }
   .col-md-3 {
     width: 25%;
   }
   .col-md-4 {
     width: 33.33%;
   }
   .col-md-5 {
     width: 41.66%;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-7 {
      width: 58.33%;
   }
   .col-md-8 {
     width: 66.66%;
   }
   .col-md-9 {
     width: 75%;
   }
   .col-md-10 {
     width: 83.33%;
   }
   .col-md-11 {
     width: 91.66%;
   }
   .col-md-12 {
     width: 100%;
   }


   .parent-contact,
   .parent-banner {
     display: none;
   }
 
   .sm-parent {
     height: 8vh;
     display: block;
   }
   
   .sm-contact .sm-box {
     width: 40px;
     height: 40px;
     margin: 0 10px 0 270px;
   }
   
   .sm-contact .sm-box1 {
     width: 40px;
     height: 40px;
   }
   
   .sm-box i {
     font-size: 20px;
     padding: 2px;
   }
   
   .sm-box1 .button i {
     font-size: 20px;
   }
   
   .sm-box1 .button {
     padding: 3px;
   }
   
   .sm-logo img {
     height: 55px;
     margin-left: 20px;
   }
   
   .burger-parent {
     width: 100%;
     margin: 85px auto 0;
   }
   
   .top {
     height: 8vh;
   }
 
   .top .top-lft {
     width: 50%;
     text-align: left;
   }
 
   .top strong.about {
     font-size: 15px;
     padding: 25px;
   }
 
   .top .top-rgt {
     width: 50%;
     display: block;
     padding: 0;
     margin: 0;
   }

   .top-rgt .special7 {
    padding: 25px 0 0 0;
   }

   .top-rgt .special8 {
    padding: 25px;
   }

   .about-container {
    height: 150vh;
   }
 
   .about-container .about-left {
     width: 100%;
     height: 13%;
   }
 
   .about-left h1 {
     display: block;
     text-align: center;
   }
 
   .about-left span {
     position: relative;
     top: -100px;
     left: 0;
 
     font-size: 18px;
     padding: 20px 0 0 0;
   }
 
   .about-left strong {
     font-size: 35px;
     padding: 10px 50px;
     line-height: normal;
     
     position: relative;
     top: -70px;
   }
 
   .about-container .about-right {
     width: 100%;
     height: 60%;
     text-align: center;
   }
 
   .about-right p {
     font-size: 20px;
     text-align: center;
     padding: 20px 62px;
     line-height: 2.5 rem;
   }

   .about-right .checkDiv {
      height: 55%;
      margin-top: -5px;
      flex-direction: column;
      padding: 0 50px;
   }
    
    .check-container .check-list{
      width: 100%;
      padding: 0;
    }

    .box-list p {
      font-size: 14px;
      padding: 0 0;
      line-height: none;
    }

   .about-container .itemDiv {
      width: 100%;
      height: 20%;
      padding: 0 5px;
      display: block;

      position: relative;
      top: 50px;
  }

  .itemDiv .itemList {
    width: 33.3%;
    height: 100%;
    padding: 10px;
  }

  .itemDiv .itemList1 {
    width: 33.3%;
    height: 100%;
    padding: 10px;
  }

  .itemDiv .itemList2 {
    width: 33.3%;
    height: 100%;
    padding: 10px;
  }

  .itemList .item {
    height: 100%;
    display: block;
  }

  .itemList1 .item1 {
    height: 100%;
    display: block;
  }

  .itemList2 .item2 {
    height: 100%;
    display: block;
  }

  .item strong {
    font-size: 25px;
    position: relative;
    top: 120px;
  }

  .item1 strong {
    font-size: 25px;
    position: relative;
    top: 120px;
  }

  .item2 strong {
    font-size: 25px;
    position: relative;
    top: 120px;
  }

  .item .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item .rhombus-content a {
    font-size: 20px;
  }

  .item1 .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item1 .rhombus-content a {
    font-size: 20px;
  }

  .item2 .rhombus {
    width: 120px;
    height: 120px;

    position: relative;
    top: 70px;
  }


  .rhombus .rhombus-content {
    position: relative;
    top: -50px;
  }

  .item2 .rhombus-content a {
    font-size: 20px;
  }
 
  .section {
    height: 80vh;
    display: block;
  }

  .banner h1 {
    display: block;
    font-size: 90px;
    font-weight: 900;
    padding: 0;
  }

  .banner span {
    position: relative;

    font-size: 25px;
    opacity: 1;
    padding: 20px 0;
  }

  .banner strong {
    position: relative;
    top: -80px;

    font-size: 40px;
    padding: 0;
  }

  .banner .counter {
    height: 35%;
    margin-top: -50px;
  }

  .child .child-boxes {
    width: 50%;
    padding: 25px 10px;
  }

  .box .number {
    font-size: 90px;
    padding: 30px;
  }

  .box .text {
    width: 80%;
    position: relative;
    top: -15px;
  }

  .text span {
    font-size: 20px;
    padding: 15px 0;
  }

  .footer {
  width: 100%;
  height: 35vh;
  text-align: center;
}

.footer img {
  height: 60px;
  margin: 40px 0 0 0;
}

.footer span {
  font-size: 15px;
  padding: 20px 145px;
  line-height: 1.9rem;
}

.footer .footer-socials {
  width: 30%;
  height: 5vh;
  margin: 20px auto 0;
  padding: 0;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -5px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}

.footer1 {
  height: 8vh;;
}

.phone {
  width: 100%;
  display: block;
}

.phone .sm2-phone {
  width: 10%;
}

.sm2-phone i {
  font-size: 25px;
  padding-top: 8px;
  margin-left: -5px;
}

.phone .sm2-contact {
  width: 90%;
}













  }





























  @media only screen and (min-width: 1200px) {

    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
       width: 16.66%;
    }
    .col-lg-3 {
       width: 25%;
    }
    .col-lg-4 {
       width: 33.33%;
    }
    .col-lg-5 {
       width: 41.66%;
    }
    .col-lg-6 {
       width: 50%;
    }
    .col-lg-7 {
       width: 58.33%;
    }
    .col-lg-8 {
       width: 66.66%;
    }
    .col-lg-9 {
       width: 75%;
    }
    .col-lg-10 {
       width: 83.33%;
    }
    .col-lg-11 {
       width: 91.66%;
    }
    .col-lg-12 {
       width: 100%;
    }

    .parent-contact,
    .parent-banner {
      display: block;
    }

    .sm-parent,
    .body {
      display: none;
    }

    .top {
      height: 20vh;
    }

    .top .top-lft {
      width: 50%;
      height: 100%;
      float: left;
    }

    .top-lft strong.about {
      font-size: 20px;
      text-transform: capitalize;
      padding: 50px 0 0 0;
      display: block;
      color: #00264d;
    }

    .top .top-rgt {
      width: 50%;
      height: 100%;
      float: left;
    }

    .top-rgt .special7 {
      color: #00264d;
      font-size: 18px;
      display: inline;
      float: right;
      padding: 50px 10px 0 0;
      text-decoration: none;
    }

    .top-rgt .special8 {
      color: #003366;
      font-size: 15px;
      float: right;
      display: inline;
      padding: 50px 10px 0 0;
    }

    .about-container {
      height: 140vh;
      background-color: #fefefe;
    }

    .about-container .about-left {
      width: 33.3%;
      height: 50%;
      float: left;
      text-align: center;
    }

    .about-left h1 {
      font-size: 100px;
      font-weight: 900;
      text-transform: uppercase;
      color: #f8c617;
      text-align: left;
      opacity: 0.1;
    }

    .about-left span {
      display: block;
      font-size: 25px;
      text-transform: uppercase;
      color: #f8c617;

      position: relative;
      top: -90px;
      left: -20px;
    }

    .about-left strong {
      font-size: 45px;
      font-weight: 800;
      padding: 0 70px 0 0;

      position: relative;
      top: -45px;
    }

    .about-container .about-right {
      width: 66.66%;
      float: left;
      height: 70%;
    }

    .about-right p {
      font-size: 18px;
      line-height: 1.9rem;
      text-align: left;
      opacity: 0.7;
      padding: 40px 30px 50px 5px;
    }

    .about-right .checkDiv {
      height: 42%;
      margin-top: -40px;

      width: 100%;
      padding: 5px;
      display: flex;
      gap: 5px;
      flex: 0 0 300px;
      flex-direction: row;
      justify-content: center;
    }

    .checkDiv .check-container {
      padding: 5px;
      width: 50%;
    }

    .check-container .check-list {
      display: flex;
      padding: 5px;
      margin-top: 10px;
      flex: 1;
      width: 90%;
      gap: 5px;
    }

    .check-list:hover .check-box {
      transform: translateX(10px);
      transition: 0.4s ease-in-out;
    }

    .check-list:hover .box-list {
      transform: translateX(10px);
      transition: 0.4s ease-in-out;
    }

    .check-container .check-box {
      height: 50px;
      width: 60px;
      background-color: #252c37;
    }

    .check-container .box-list {
      height: 50px;
      text-align: center;
      padding: 10px 5px;
    }

    .box-list p {
      font-size: 15px;
      padding: 0;
      line-height: normal;
      opacity: 1;
    }

    .about-container .itemDiv {
      height: 30%;
      clear: both;
    }

    .itemDiv .itemList {
      width: 33.3%;
      height: 100%;
      padding: 10px;
      float: left;
    }

    .itemDiv .itemList1 {
      width: 33.3%;
      height: 100%;
      padding: 10px;
      float: left;
    }

    .itemDiv .itemList2 {
      width: 33.3%;
      height: 100%;
      padding: 10px;
      float: left;
    }

    .itemList .item {
      height: 150%;
      z-index: 2;
      text-align: center;

      background-image: url('../img/construction2.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;

      position: relative;
    }

    .itemList1 .item1 {
      height: 150%;
      z-index: 2;
      text-align: center;

      background-image: url(../img/worker-helmet2.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;

      position: relative;
    }

    .itemList2 .item2 {
      height: 150%;
      z-index: 2;
      text-align: center;

      background-image: url('../img/excavator.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      position: relative;
    }

    .item::before {
      content: "";
      background-color: #f8c617;
      width: 100%;
      height: 100%;
      opacity: 0.7;

      position: absolute;
      top: 0;
      left: 0;
    }

    .item:hover::before {
      background-color: none;
      opacity: 1;
      position: relative;
    }

    .item:hover strong {
      display: none;
    }

    .item:hover .rhombus {
      display: block;
    }

    .item:hover .rhombus-content {
      display: block;
    }

    .item1:hover::before {
      background-color: none;
      opacity: 1;
      position: relative;
    }

    .item1:hover strong {
      display: none;
    }

    .item1:hover .rhombus {
      display: block;
    }

    .item1:hover .rhombus-content {
      display: block;
    }

    .item2:hover::before {
      background-color: none;
      opacity: 1;
      position: relative;
    }

    .item2:hover strong {
      display: none;
    }

    .item2:hover .rhombus {
      display: block;
    }

    .item2:hover .rhombus-content {
      display: block;
    }

    .item1::before {
      content: "";
      background-color: #f8c617;
      width: 100%;
      height: 100%;
      opacity: 0.7;

      position: absolute;
      top: 0;
      left: 0;
    }

    .item2::before {
      content: "";
      background-color: #f8c617;
      width: 100%;
      height: 100%;
      opacity: 0.7;

      position: absolute;
      top: 0;
      left: 0;
    }

    .item strong {
      font-size: 30px;
      font-weight: 700;
      text-transform: capitalize;
      color: #252c37;

      position: relative;
      top: 150px;
    }

    .item .rhombus {
      border: 2px solid white;
      width: 150px;
      height: 150px;
      margin: auto;
      display: none;
      transform: rotate(45deg);

      position: relative;
      top: 100px;
    }

    .item .rhombus-content {
      width: 100px;
      margin: auto auto;
      text-align: center;
      display: none;

      position: relative;
      top: -20px;
    }

    .rhombus-content a {
      font-size: 30px;
      font-weight: 700;
      color: #fefefe;
      display: block;
      text-decoration: none;
    }

    .item1 .rhombus {
      border: 2px solid white;
      width: 150px;
      height: 150px;
      margin: auto;
      display: none;
      transform: rotate(45deg);

      position: relative;
      top: 100px;
    }

    .item1 .rhombus-content {
      width: 100px;
      margin: auto auto;
      text-align: center;
      display: none;

      position: relative;
      top: -20px;
    }

    .item2 .rhombus {
      border: 2px solid white;
      width: 150px;
      height: 150px;
      margin: auto;
      display: none;
      transform: rotate(45deg);

      position: relative;
      top: 100px;
    }

    .item2 .rhombus-content {
      width: 100px;
      margin: auto auto;
      text-align: center;
      display: none;

      position: relative;
      top: -20px;
    }

    .item1 strong {
      font-size: 30px;
      font-weight: 700;
      text-transform: capitalize;
      color: #252c37;

      position: relative;
      top: 150px;
    }

    .item2 strong {
      font-size: 30px;
      font-weight: 700;
      text-transform: capitalize;
      color: #252c37;

      position: relative;
      top: 150px;
    }





    /* section counter stART */


    .section {
      height: 130vh;
      text-align: center;
    }

    .section .banner {
      background-image: url('../img/hammerHead_crane.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      position: relative;
    }

    .banner::before {
      content: "";
      background-color: #252c37;
      width: 100%;
      height: 100%;
      opacity: 0.9;

      position: absolute;
      top: 0;
      left: 0;
    }

    .banner h1 {
      font-size: 120px;
      color: #f8c617;
      opacity: 0.3;
      text-transform: uppercase;
      padding: 190px 0 0 0;

      position: relative;
    }

    .banner span {
      font-size: 25px;
      color: #f8c617;
      display: block;
      text-transform: uppercase;

      position: relative;
      top: -120px;
    }

    .banner strong {
      font-size: 50px;
      color: #fefefe;

      position: relative;
      top: -80px;
    }

    .section .counter {
      height: 25%;
      margin-top: 0;

      position: relative;
    }

    .counter .child {
      height: 100%;
    }

    .child .child-boxes {
      width: 25%;
      height: 100%;
      padding: 5px;
      float: left;
    }

    .child-boxes .box {
      height: 100%;
      background-color: #f7fcff;
    }

    .box .number {
      display: block;
      color: #252c37;
      font-size: 70px;
      font-weight: 200;
      padding: 30px 0 0 0;
      position: relative;
      top: 0;
    }

    .box .text {
      width: 80%;
      background-color: #f8c617;
      margin: auto;

      position: relative;
      top: 20px;
    }

    .text span {
      font-size: 22px;
      font-weight: 700;
      padding: 10px 0;
      display: block;
      color: #252c37;
      text-transform: capitalize;

      position: relative;
      top: 0;
    }


  .footer {
    width: 100%;
    height: 80vh;
    text-align: center;
}

.footer img {
  height: 20%;
  margin: 60px 0 0 0;
}

.footer span {
  display: block;
  color: #cccc;
  font-size: 20px;
  line-height: 2rem;
  padding: 30px 380px;
}

.footer .footer-socials {
  width: 25%;
  height: 10vh;
}


.footer .facebook-footer {
  height: 60px;
  padding: 15px 30px;
}

.facebook-footer i {
  font-size: 25px;
  margin-left: -8px;
}

.footer .twitter-footer {
  height: 60px;
  padding: 15px 30px;
}

.twitter-footer i {
  font-size: 25px;
  margin-left: -10px;
}

.footer .instagram-footer {
  height: 60px;
  padding: 15px 30px;
}

.instagram-footer i {
  font-size: 25px;
  margin-left: -10px;
}

.footer .youtube-footer {
  height: 60px;
  padding: 15px 30px;
}

.youtube-footer i {
  font-size: 25px;
  margin-left: -13px;
}

.footer1 {
  height: 10vh;
}

.footer-lft span {
  padding: 10px 0;
}

.footer-rgt a {
  padding: 10px 10px;
}

.phone {
  display: none;
}









  }