@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



ul{
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


li{
	float: left;
}


li a{
	color: #00264d;
	text-decoration: none;
	display: inline-block;
	padding: 85px 18px 0 18px;
	font-size: 16px;
	font-weight: 600;
}

li a:hover{
	border-bottom: 8px solid #ffdd99;
	transition: 0.2s ease-in-out;
}





	/* contact secton stArt */


.parent-contact {
	height: 10vh;
	background-color: #00264d;
}

.parent-contact .contact {
	width: 50%;
	height: 100%;
	float: left;
}

.parent-contact .contact-socials {
	height: 100%;
	width: 50%;
	float: left;
}

.contact .span1{
	display: block;
	float: left;
	color: #ccc;
	font-size: 15px;
	padding: 15px 0;
}

.contact .span2{
	margin-left: 10px;
	font-size: 18px;
	font-weight: 500;
}

.span1 i{
	color: gold;
}

.span1 .strong1{
	font-size: 15px;
	font-weight: 800;
}

.contact:hover .strong1 {
	color: gold;
}



	/* icons section stArt */


.contact-socials .icons {
	height: 100%;
	float: right;
	width: 30%;
	padding: 0 5px;
}

.facebook {
	float: left;
	height: 100%;
}
.facebook i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.facebook:hover {
	background-color: #4d4dff;
	transition: 0.5s ease-in-out;
}

.facebook .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown a {
	color: #fefefe;
	font-size: 12px;
	padding: 5px 5px;
	color: gold;
	text-decoration: none;
}

.facebook:hover .dropdown {
	display: block;
	background-color: #00264d;
}

.twitter {
	float: left;
	height: 100%;
}

.twitter i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.twitter:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.twitter .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown .twitter1 {
	color: #fefefe;
	font-size: 13px;
	color: gold;
	display: block;
	text-decoration: none;
}

.twitter:hover .dropdown {
	display: block;
	background-color: #00264d;
}


.linkedin {
	float: left;
	height: 100%;
}

.linkedin i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.linkedin:hover {
	background-color: #0099ff;
	transition: 0.5s ease-in-out;
}

.linkedin .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown .linkedin1 {
	color: #fefefe;
	font-size: 13px;
	color: gold;
	display: block;
	text-decoration: none;
}

.linkedin:hover .dropdown {
	display: block;
	background-color: #00264d;
}


.instagram {
	float: left;
	height: 100%;
}

.instagram i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.instagram:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.instagram .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.instagram:hover .dropdown {
	display: block;
	background-color: #00264d;
}

.dropdown:hover .linkedin1 {
	transform: none;
	color: black;
}



	/* banner section stArt	*/



.parent-banner {
	height: 150vh;
	cursor: pointer;
}

.parent-banner .banner {
	height: 100%;

	background-image: url('../img/model.png');
	object-fit: cover;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.parent-banner:before{
	content: '';
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	width: 100%;
	height: 100%;
	opacity: 0.6;

	position: absolute;
	top: 0;
	left: 0;
}

.parent-banner .parent-nav {
	position: relative;
	z-index: 1;
	opacity: 1;
}


.parent-banner .parent-nav {
	height: 20vh;
}

.parent-nav .picDiv{
	width: 20%;
	float: left;
	height: 100%;
}

.logo img{
	margin-top: 10px;
	height: 80%;
	float: left; 	
}

.parent-nav .navBar{
	width: 60%;
	height: 100%;
	float: left;
}

.navBar .special{
	margin-left: 60px;
}

.special .home {
	font-size: 20px;
}

.navBar .search {
	font-size: 20px;
}

.special1 .search-box {
	width: 350px;
	height: 90px;
	border-radius: 1rem;
	margin: 5px 0 0 -250px;
	text-align: center;
	background-color: #fefefe;
	display: none;

	position: absolute;
}

.special1.open {
	display: block;
}

.search-box input {
	padding: 10px 120px 10px 20px;
	margin: 25px 20px;
}

.search-box button {
	background: transparent;
	border: none;
}

.search-box .search-icon {
	width: 30px;
	height: 45px;
	float: right;

	background-image: url('C.A.T logo/search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	object-fit: cover;

	position: relative;
	right: 25px;
	top: -69px;
}

.home:hover:not(.special){
	border: none;
}

.search:hover:not(.special1){
	border: none;
}

.parent-nav .button {
	height: 100%;
	float: left;
	width: 20%;
}

.button button {
	margin: 50px auto;
	display: block;
	padding: 20px 30px;
	border: none;
	color: #00264d;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
	background-color: #FBFBFB;

	box-shadow: 1px 5px 5px 2px #cccc;
}

.button button:hover {
	color: gold;
	background-color: #00264d;
	transition: 0.5s ease-in-out;
}

.banner .banner-content {
	width: 50%;
	height: 70%;
}

.banner-content h1 {
	font-size: 60px;
	color: #252c37;
	text-transform: uppercase;
	margin-top: 100px;
}

.banner-content .gold {
	color: #f8c617;
}

.banner-content span {
	font-size: 25px;
	display: block;
	padding: 20px 120px 0 0;
}

.banner .banner-content {
	position: relative;
	z-index: 1;
	opacity: 1;
}

.banner-content .play {
	margin-top: 50px;
	height: 20%;
}

.play span {
	font-size: 15px;
	display: block;

	position: relative;
	top: -100px;
	left: 130px;
}

.play strong {
	font-size: 20px;
	display: block;

	position: relative;
	top: -100px;
	left: 130px;
}
.banner-content .play-button {
  background-color: #777;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4rem;
  text-align: center;
}

.play-button img {
	height: 80px;
	padding: 5px;
}

.play-button:hover {
  background-color: #f8c617;
}

.banner-content .play {
	position: relative;
	z-index: 1;
	opacity: 1;
}

.parent-banner2 {
	height: 150vh;
	cursor: pointer;
}

.parent-banner2 .banner2 {
	height: 100%;

	background-image: url('../img/hammerHead_crane.jpg');
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.parent-banner2:before{
	content: '';
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	width: 100%;
	height: 100%;
	opacity: 0.6;

	position: absolute;
	top: 0;
	left: 0;
}


.parent-banner2 .parent-nav {
	position: relative;
	z-index: 1;
	opacity: 1;
}

.banner2 .items1 {
	margin: auto;
	clear: both;
	height: 250px;

	position: relative;
	top: 200px;
}

.items1 .child{
	width: 80%;
	margin: auto;
	height: 150px;
	background-color: #252c37;
	text-align: center;
}

.child strong {
	color: #cca300;
	font-size: 40px;
	padding: 20px 0 0 0;
	display: block;
}

.items1 .child1{
	width: 60%;
	margin: auto;
	height: 120px;
	background-color: #cca300;
	text-align: center;

	position: relative;
	top: -50px;
}

.child1 strong {
	font-size: 35px;
	font-weight: 700;
	padding: 30px 0 0 0;
	color: #252c37;
	display: block;
}

.banner .btns {
	width: 100px;
	height: 100px;
	float: right;

	position: relative;
	top: 700px;
}

.banner2 .btns {
	width: 100px;
	height: 100px;
	float: right;

	position: relative;
	top: 420px;
}

.btns button {
	border: none;
	background: transparent;
	color: gold;
	font-size: 80px;
	font-weight: 300;
	cursor: pointer;
}




	/* dropdown section stArt */

.dropdown2{
	display: inline-block;
}

.dropdown2 .special2{
	display: block;
	color: #cccc;
	text-decoration: none;
}


.dropdown2 .content{
	display: none;
	position: absolute;
	min-width: 100px;
	background-color: #00264d;
	padding: 15px 20px;
	z-index: 2;

}

.dropdown2:hover .content{
	display: block;
}

.content .special2{
	padding: 10px 10px;
}

.dropdown2 .special2:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.special2 .special3:hover {
	color: #00264d;
}

.special2:hover:not(.special3){
	border-bottom: none;
}


	/* second dropdown menu */


.dropdown3{
	display: inline-block;
	color: #cccc;
}

.dropdown3:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.dropdown3 .special4{
	padding: 0 0 0 30px;
}

.dropdown3 .content2{
	display: none;
	position: absolute;
	min-width: 200px;
	background-color: #00264d;
	margin: 0 0 0 185px;
	padding: 10px 20px;
}

.dropdown3 .special5{
	display: block;
	color: #cccc;
	text-decoration: none;
}

.dropdown3:hover .content2{
	display: block;
}

.dropdown3 .special5:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.content .dropdown3{
	padding: 10px 10px;
}

.dropdown3:hover:not(.special3){
	border-bottom: none;
}

.special5:hover:not(.special6){
	border-bottom: none;
}

.dropdown3 .special5:hover{
	background-color: gold;
	color: #00264d;
}

.content2 .special5{
	padding: 10px 10px;
	color: #cccc;
}

.content2 .special6{
	padding: 10px 0;
}




	/* parent-body section stArt */


.service {
	height: 130vh;
	margin-top: -23px;
}

.service .banner3 {
	height: 100%;
	text-align: center;

	background-image: url('../img/hammerHead_crane.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;
}

.banner3::before {
	content: '';
	background-color: #252c37;
	width: 100%;
	height: 100%;
	opacity: 0.9;

	position: absolute;
	top: 0;
	left: 0;
}

.banner3 .top {
	height: 50%;
	padding: 130px 0;

	position: relative;
}

.top img {
	height: 70px;
}

.top span {
	display: block;
	font-size: 25px;
	color: #f8c617;
	padding: 50px 0 ;
	text-transform: uppercase;
}

.top strong {
	font-size: 50px;
	color: #fefefe;
}

.banner3 .bottom {
	height: 50%;

	position: relative;
}

.banner3 .flip{
	height: 50%;
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 20px 20px;

	position: relative;
}


.flip .flip-card {
  width: 33.33%;
  height: 100%;
  perspective: 1000px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner .flip-card-front img{
	width: 100%;
	height: 400px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-inner .flip-card-front {
  position: absolute;
  width: 100%;
  height: 400px;
  backface-visibility: hidden;
}

.flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 300px;
  backface-visibility: hidden;
}

.flip-card-front .head {
	text-align: center;
	width: 95%;
	padding: 10px;
	background-color: #252c37;
	opacity: 0.9;

	position: relative;
	top: -120px;
	left: 15px;
}

.head span {
	font-size: 25px;
	padding: 15px;
	color: #fefefe;
	text-transform: capitalize;
	display: block;
}

.flip-card-back {
  background-color: #f8c317;
  padding: 20px 20px;
  text-align: left;
  transform: rotateX(180deg);
}

.flip-card-back strong {
	font-size: 25px;
	color: #252c37;
	padding: 15px 0;
	display: block;
}

.flip-card-back p {
	font-size: 18px;
	color: #252c37;
}

.flip-card-back button {
	display: block;
	border: none;
	padding: 10px 20px;
	margin-top: 10px;
}

.flip-card-back button a {
	font-size: 15px;
	color: #252c37;
	text-transform: capitalize;
	text-decoration: none;
}


		/* about container section stArt */



	.about-container {
		height: 130vh;
	}

	.about-container .about-left {
		width: 50%;
		height: 100%;
		float: left;
	}

	.about-left .picBox {
		width: 70%;
		height: 80%;
		background-color: #f8c617;
		margin-top: 60px;
	}

	.picBox .picDiv {
		width: 130%;
		height: 80%;
		margin-top: 50px;

		background-image: url('../img/about-company.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.about-container .about-right {
		width: 50%;
		height: 100%;
		text-align: left;
		float: left;
	}

	.about-right .topContent {
		height: 40%;
	}

	.topContent h1 {
		font-size: 120px;
		text-transform: uppercase;
		font-weight: 900;
		color: #f8c617;
		opacity: 0.1;
	}

	.topContent span {
		font-size: 25px;
		text-transform: uppercase;
		color: #f8c617;
		display: block;
		padding: 0 50px;

		position: relative;
		top: -110px;
	}

	.topContent strong {
		font-size: 45px;
		display: block;

		position: relative;
		top: -70px;
	}

	.about-right .center {
		height: 30%;
	}

	.center p {
		font-size: 20px;
		padding: 0 30px 0 0;
		color: #000;
		opacity: 0.5;
		line-height: 2.3rem;
	}

	.about-right .bottom {
		height: 30%;
		width: 100%;

		padding: 25px 5px;
  	display: flex;
  	gap: 5px;
  	flex: 0 0 300px;
  	justify-content: center;
	}

	.bottom .check-container {
		padding: 5px;
  	width: 50%;
	}

	.check-container .check-list {
		display: flex;
  	margin-top: 20px;
  	flex: 1;
  	width: 100%;
	}

	.check-container .check-box {
		height: 50px;
  	width: 60px;
	}

	.check-box i {
		font-size: 20px;
  	color: #f8c617;
  	padding: 15px;
	}

	.check-container .box-list {
		height: 50px;
		width: 100%;
  	text-align: left;
  	padding: 10px 5px;
	}

	.box-list p {
		font-size: 20px;
		color: #252c37;
		font-weight: 700;
	}

	.check-list:hover .check-box {
		background-color: #252c37;
	}


	.check-list:hover .check-box {
  	transform: translateX(10px);
  	transition: 0.4s ease-in-out;
	}

	.check-list:hover .box-list {
  	transform: translateX(10px);
  	transition: 0.4s ease-in-out;
	}


	.parent-section {
		height: 150vh;
	}

	.parent-section .parent-top {
		height: 30%;
		text-align: center;
	}

	.parent-top h1 {
		font-size: 100px;
		text-transform: uppercase;
		font-weight: 900;
		color: #f8c617;
		opacity: 0.2;
	}

	.parent-top span {
		display: block;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 500;
		color: #f8c617;

		position: relative;
		top: -100px;
	}

	.parent-top strong {
		font-size: 50px;
		font-weight: 800;

		position: relative;
		top: -80px;
	}












	.parent-section .owl-carousel {
		height: 70%;
	}

	.owl-carousel .item {
		width: 70%;
		height: 100vh;
		margin: auto;
	}

	.item .pic {
		height: 250px;
		width: 250px;
		float: left;
		background-color: #f8c617;

		position: relative;
		left: -100px;
	}

	.pic .picDiv {
		height: 95%;
		margin-top: 5px;

		background-image: url('../img/team1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		position: relative;
		left: 20px;
	}

	.item .textBox {
		width: 500px;
		height: 500px;
		padding: 10px;
		margin-top: 60px;
		float: left;
	}

	.textBox p {
		font-size: 25px;
		color: #000;
		padding: 5px 20px 0 0;
		text-align: left;
		opacity: 0.8;
	}

	.textBox span {
		display: block;
		font-size: 20px;
		opacity: 0.4;
		text-transform: capitalize;
		padding: 100px 0 0 0;
	}



		/* logo sectiion srArt */


	.logo-container {
	padding: 30px;
	background-color: #f8c617;
	display: flex;
}

.logo-container .logo-box {
	padding: 20px;
	width: 250px;
	height: 150px;
	text-align: center;
}

.logo-box:hover img {
	transition: 0.5s ease;
}

.logo-box .logo-content {
	display: none;
	padding: 5px 5px;
	margin-top: -10px;
	background-color: #252c37;
}

.logo-content span {
	color: gold;
	font-size: 10px;
	display: block;
	text-transform: capitalize;
}

.logo-box:hover .logo-content {
	display: block;
	transform: translateY(-100px);
}












	/* footer section stArt */


	.footer {
    height: 80vh;
    background-color: #252c37;
    text-align: center;;
}

.footer img {
  height: 20%;
  margin: 60px 0 0 0;
}

.footer span {
  display: block;
  color: #cccc;
  font-size: 20px;
  line-height: 2rem;
  padding: 30px 320px 0 320px;
}

.footer .footer-socials {
  width: 30%;
  height: 20vh;
  padding: 30px 0 0 0;
  margin: auto;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -8px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.facebook-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .twitter-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.twitter-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .instagram-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.instagram-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}

.footer-socials .youtube-footer {
  display: block;
  width: 10px;
  height: 70px;
  padding: 20px 30px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 25px;
  color: #252c37;
  margin-left: -13px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}

.youtube-footer:hover i {
  color: #fefefe;
  transition: 0.5s ease;
  transform: rotate(360deg);
}



.footer1 {
  height: 15vh;
}

.footer1 .footer-lft {
  width: 50%;
  height: 100%;
  padding: 10px 0;
  float: left;
}

.footer-lft span {
  padding: 20px 0;
  display: block;
  color: #737373;
}

.footer1 .footer-rgt {
  width: 50%;
  height: 100%;
  padding: 10px 0;
  float: left;
}

.footer-rgt a {
  float: right;
  color: #737373;
  padding: 20px 10px 0 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-rgt a:hover {
  color: #f8c617;
  transition: 0.5s ease;
}


  /* arrowDiv section stArt */


.arrowDiv {
  border: 1px solid #cccc;
  width: 50px;
  height: 50px;
  background-color: #252c37;
  cursor: pointer;
  z-index: 20;
  display: block;

  position: fixed;
  bottom: 40px;
  right: 30px;
}

.arrowDiv i {
  font-size: 20px;
  font-weight: lighter;
  color: #fefefe;
  padding: 15px 20px;
}

.arrowDiv:hover {
  background-color: #f8c617;
  transition: 0.5s ease;
}

.arrowDiv:hover i {
  color: #252c37;
  transition: 0.5s ease;
}


.phone {
  height: 50px;
  text-align: center;
  display: none;
}

.phone .sm2-phone {
  width: 10%;
  height: 100%;
  float: left;
  display: block;
  background-color: #f8c617;;
}

.sm2-phone i {
  font-size: 35px;
  padding: 5px 13px;
  color: #252c37;
}

.phone .sm2-contact {
  width: 90%;
  height: 100%;
  display: block;
  float: left;
  background-color: #252c37;
  color: #fefefe;
  padding: 8px 0;
}























/* contact section for small devices	*/


.sm-parent {
	height: 15vh;
	display: none;
}

.sm-parent .sm-nav {
	height: 100%;
}

.sm-nav .sm-picDiv {
	width: 50%;
	float: left;
	height: 100%;
}

.sm-logo img {
	height: 80%;
}

.sm-nav .sm-contact {
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 0;
}

.sm-contact .sm-box {
	width: 50px;
	height: 50px;
	float: left;
	background-color: gold;
	margin: 0 10px 0 500px;
}

.sm-box .sm-phone {
	margin: auto ;
}

.sm-phone i {
	font-size: 35px;
	color: #00284d;
	text-decoration: none;
	margin: 7px 10px;
}

.sm-contact .sm-box1 {
	width: 50px;
	height: 50px;
	float: left;
}

.sm-box1 .button {
	border: none;
	background-color: #00284d;
	position: relative;
	z-index: 1000;
}

.sm-box1 .sm-bars {
	margin: auto;
}

.sm-bars i {
	font-size: 35px;
	color: gold;
	text-decoration: none;
	margin: 7px 10px;
}


	/* Hamburger menu section stArt */


.burger-parent {
	width: 90%;
	height: 80vh;
	float: right;
	margin: 100px auto 0;
	display: none;
	z-index: 100;

	position: absolute;
	top: 0;
	left: 0;
}

.burger-parent.open {
	display: block;
}

.burger-parent .burger-container {
	height: 100%;
	background-color: #000d1a;	
}

.items .homemenu {
	color: #fefefe;
	padding: 15px 30px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	display: block;
}

.items .menu{
	text-decoration: none;
	color: #fefefe;
}

.items span {
	display: block;
	border-bottom: 1px solid #cccc;
	padding: 15px 30px;
}

.items:hover .homemenu {
	color: gold;
	transition: 0.5s ease-in-out;
}

.menu:hover {
	color: gold;
	transition: 0.5s ease-in-out;
}

.socials .socials-container {
	width: 300px;
	height: 100px;
	margin: 50px auto 0 ;
	padding: 30px 0;
}

.facebooks {
	float: left;
	width: 40px;
	margin: 0 10px 0 50px;
	background-color: gold;
}
.facebooks i {
	color: #fefefe;
	margin: auto 15px;
	padding: 15px 0;
	font-size: 20px;
}

.facebooks:hover {
	background-color: #4d4dff;
	transition: 0.5s ease-in-out;
}

.facebooks .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.dropdown1 a {
	color: #fefefe;
	font-size: 10px;
	padding: 5px 5px;
	color: gold;
	text-decoration: none;
}

.facebooks:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.twitter2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.twitter2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.twitter2:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.twitter2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.twitter2:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.linkedin2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.linkedin2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.linkedin2:hover {
	background-color: #0099ff;
	transition: 0.5s ease-in-out;
}

.linkedin2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.linkedin2:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.instagram2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.instagram2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.instagram2:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.instagram2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.instagram1:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.socials .copy {
	display: block;
	color: #fefefe;
	clear: both;
	text-align: center;
	margin: 10px auto 0;
	font-size: 15px;
	font-weight: 400;
}







	/* Body section stArt */

.body {
	border: 2px solid black;
	clear: both;
}
















































@media only screen and (max-width: 450px){

    .col-sm-1 {
    width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
    width: 25%;
    }
    .col-sm-4 {
    width: 33.33%;
    }
    .col-sm-5 {
    width: 41.66%;
    }
    .col-sm-6 {
    width: 50%;
    }
    .col-sm-7 {
    width: 58.33%;
    }
    .col-sm-8 {
    width: 66.66%;
    }
    .col-sm-9 {
    width: 75%;
    }
    .col-sm-10 {
    width: 83.33%;
    }
    .col-sm-11 {
    width: 91.66%;
    }
    .col-sm-12 {
    width: 100%;
    }


.parent-contact {
	display: none;
}

.sm-parent {
	height: 8vh;
	display: block;
}

.sm-contact .sm-box {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 90px;
}

.sm-contact .sm-box1 {
	width: 40px;
	height: 40px;
}

.sm-box i {
	font-size: 20px;
	padding: 2px;
}

.sm-box1 .button i {
	font-size: 20px;
}

.sm-box1 .button {
	padding: 3px;
}

.sm-logo img {
	height: 55px;
}

.burger-parent {
	width: 100%;
	margin-top: 70px;
}

.parent-banner .parent-nav {
	display: none;
}

.parent-banner2 .parent-nav,
.btns {
	display: none;
}

.parent-banner {
	height: 30vh;
}

.parent-banner .banner {
	height: 100%;
}

.banner .banner-content {
	height: 80%;
	text-align: left;
}

.banner-content h1 {
	font-size: 30px;
	line-height: 1.5rem;
	margin: 20px 0 0 0;
	padding: 0 30px 0 10px;
}

.banner-content span {
	font-size: 10px;
	padding: 10px 0 0 10px;
}

.banner-content .play {
	margin-top: 20px;
}

.play span {
	display: none;
}

.play strong {
	font-size: 15px;
	font-weight: 500;

	position: relative;
	top: -40px;
	left: 50px;
}

.banner-content .play-button {
	padding: 2px;
}

.play-button img {
	height: 40px;
}



	/* parent banner2 section */

.parent-banner2 {
	height: 30vh;
}

.parent-banner2 .banner2 {
	height: 120%;
}

.parent-banner2:before{
	content: '';
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	width: 100%;
	height: 120%;
	opacity: 0.6;

	position: absolute;
	top: 0;
	left: 0;
}


.banner2 .items1 {
	height: 100px;
	display: block;
	position: relative;
	top: 100px;
}

.items1 .child {
	width: 70%;
	height: 50px;
}

.child strong {
	font-size: 10px;
	padding: 10px 0;
}

.items1 .child1 {
	width: 60%;
	height: 40px;

	position: relative;
	top: -15px;
}

.child1 strong {
	font-size: 10px;
	padding: 10px 0;
}

.service {
	height: 190vh;
	display: block;
	margin-top: -23px;
}

.service .banner3 {
	padding: 0;
	margin-top: 0;
	background-image: none;
	background-color: #252c37;
}

.banner3 .top {
	height: 13%;
	padding: 40px;
}

.top img {
	height: 40px;
}

.top span {
	font-size: 15px;
	padding: 10px;
}

.top strong {
	font-size: 23px;
}

.banner3 .flip {
	height: 87%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.flip .flip-card {
	height: 29%;
	width: 100%;
}

.flip-card .flip-card-inner {
	height: 100%;
	width: 100%;
}

.flip-card-inner .flip-card-front img {
	height: 100%;
	object-fit: fill;
}

.flip-card-front .head {
	height: 20%;
	text-align: left;
	padding: 10px;

	position: relative;
	top: -100px;
}

.head span {
	font-size: 18px;
	padding: 10px;
	display: block;
}





.about-container {
	display: block;
}

.about-container .about-left {
	width: 100%;
	height: 30%;
}

.about-left .picBox {
	height: 80%;
	margin-top: 40px;
}

.picBox .picDiv {
	height: 90%;
	width: 110%;
	margin: 13px 0 0 20px;

	background-position: center;
	background-size: contain;
}


.about-container .about-right {
	width: 100%;
	height: 70%;
}

.about-right .topContent {
	height: 17%;
	text-align: center;
}

.topContent h1 {
	display: none;
}

.topContent span {
	font-size: 20px;
	padding: 5px 0 10px;
	position: relative;
	top: 0;
}

.topContent strong {
	font-size: 30px;
	position: relative;
	top: 0;
}

.about-right .center {
	height: 32%;
}

.center p {
	font-size: 18px;
	text-align: center;
	line-height: 2rem;
	padding: 0 40px;
	opacity: 0.7;
}

.about-right .bottom {
	height: 50%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.bottom .check-container {
	width: 100%;
}

.parent-section {
	height: 60svh;
	border: 2px solid blue;
	display: none;
}

.parent-section .parent-top {
	height: 14%;
	width: 100%;
}

.parent-top h1 {
	display: none;
}

.parent-top span {
	font-size: 15px;
	font-weight: 500;
	display: block;

	position: relative;
	top: 0;

	font-size: 20px;
}

.parent-top strong {
	position: relative;
	top: 0;

	font-size: 25px;
}

.parent-section .owl-carousel {
	width: 100%;
	height: 53vh;
	border: 2px solid black;
}

.owl-carousel .item {
	width: 100%;
	height: 52vh;
	margin: auto;

}

.item .pic {
	height: 150px;
	width: 150px;
	margin: auto;

	position: relative;
	left: 100px;
}

.pic .picDiv {
}

.item .textBox {
	width: 300px;
	height: 300px;
	margin-top: 0;

	position: relative;
	left: 50px;
}

.textBox p {
	font-size: 15px;
	text-align: center;

}

.textBox span {
	display: block;
	font-size: 13px;
	padding: 0;
}



	/*  logo section stArt	*/



.logo-container {
	width: 100%;
	padding: 20px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 50%;
	height: 100px;
}

.logo-box img {
	height: 50px;
}

.logo-box .logo-content {
	display: none;
	padding: 5px 5px;
	margin: 10px 0 0 0;
	background-color: #252c37;
}

.logo-content span {
	font-size: 10px;
	padding: 0;
}

.logo-container .box-2 {
	align-self: center;
	margin: auto auto;
}






	/* footer section stArt */


.footer {
  width: 100%;
  height: 35vh;
  text-align: center;
}

.footer img {
  height: 60px;
  margin: 20px 0 0 0;
}

.footer span {
  font-size: 10px;
  padding: 20px 50px;
  line-height: 1.2rem;
}

.footer .footer-socials {
  width: 50%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -5px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
  display: block;
  height: 45px;
  padding: 12px 20px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}




.footer1 {
  height: 8vh;;
}

.footer1 .footer-lft {
  width: 100%;
  height: 100%;
}

.footer-lft span {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}


.footer1 .footer-rgt {
  display: none;
}

.arrowDiv {
  width: 30px;
  height: 30px;
}

.arrowDiv i {
  font-size: 15px;
  padding: 0;
}


.phone {
  width: 100%;
  display: block;
}

.phone .sm2-phone {
  width: 10%;
}

.sm2-phone i {
  font-size: 25px;
  padding-top: 8px;
  margin-left: -5px;
}

.phone .sm2-contact {
  width: 90%;
}






}













@media only screen and (min-width:760px) {

.col-md-1 {
   width: 8.33%;
 }
.col-md-2 {
    width: 16.66%;
 }
 .col-md-3 {
	 width: 25%;
 }
 .col-md-4 {
 	width: 33.33%;
 }
 .col-md-5 {
 	width: 41.66%;
 }
 .col-md-6 {
 	width: 50%;
 }
 .col-md-7 {
    width: 58.33%;
 }
 .col-md-8 {
 	width: 66.66%;
 }
 .col-md-9 {
 	width: 75%;
 }
 .col-md-10 {
 	width: 83.33%;
 }
 .col-md-11 {
 	width: 91.66%;
 }
 .col-md-12 {
 	width: 100%;
 }


.parent-contact {
	display: none;
}

.sm-parent {
	height: 8vh;
	display: block;
}

.sm-parent .sm-contact {
	margin: 0;
	padding: 15px 0;
}
.sm-contact .sm-box {
	width: 50px;
	height: 50px;
	margin: 0 10px 0 230px;
}

.sm-contact .sm-box1 {
	width: 50px;
	height: 50px;
}

.sm-box i {
	font-size: 30px;
	padding: 10px 12px;
	margin: 0;
}

.sm-box1 .button i {
	font-size: 30px;
	padding: 10px 12px;
	margin: 0;
}

.sm-logo img {
	height: 55px;
}

.burger-parent {
	width: 100%;
	margin-top: 70px;
}

.parent-banner .parent-nav {
	display: none;
}

.parent-banner {
	height: 50vh;
}

.parent-banner .banner {
	height: 100%;
	background-size: contain;
}

.banner .btns {
	display: block;

	position: relative;
	top: 360px;
}

.banner .banner-content {
	height: 80%;
	text-align: left;
}

.banner-content h1 {
	font-size: 40px;
	line-height: 2.3rem;
	margin: 50px 0 0 0;
	padding: 10px 150px 10px 20px;
}

.banner-content span {
	font-size: 15px;
	padding: 10px 50px 0 20px;
}

.banner-content .play {
	height: 30%;
	padding: 10px 10px;
	margin-top: 20px;
}

.play span {
	font-size: 15px;
	font-weight: 300;
	display: block;

	position: relative;
	top: -60px;
	left: 50px;
}

.play strong {
	font-size: 12px;
	font-weight: 600;

	position: relative;
	top: -60px;
	left: 70px;
}

.banner-content .play-button {
	padding: 5px;
}

.play-button img {
	height: 50px;
}




	/* parent banner2 section */

.parent-banner2 {
	height: 50vh;
}
.parent-banner2 .banner2 {
	height: 100%;
}

.banner2 .parent-nav {
	display: none;
}

.banner2 .btns {
	display: block;

	position: relative;
	top: 170px;
}


.banner2 .items1 {
	height: 200px;
	display: block;

	position: relative;
	top: 200px;
}

.items1 .child {
	width: 80%;
	height: 100px;
}

.child strong {
	font-size: 25px;
	padding: 15px 15px;
}

.items1 .child1 {
	width: 60%;
	height: 70px;

	position: relative;
	top: -25px;
}

.child1 strong {
	font-size: 20px;
	padding: 20px 0;
}

.service {
	height: 150vh;
	margin-top: -23px;
}


.service .banner3 {
	padding: 0;
	margin-top: -25px;
	background-image: none;
	background-color: #252c37;
}

.banner3 .top {
	height: 15%;
	padding: 40px;
}

.top img {
	height: 50px;
}

.top span {
	font-size: 20px;
	padding: 10px;
}

.top strong {
	font-size: 30px;
}

.banner3 .flip {
	height: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 60px;
	gap: 40px;
}

.flip .flip-card {
	height: 100%;
	width: 100%;
}

.flip-card .flip-card-inner {
	height: 100%;
}

.flip-card .flip-card-front {
	height: 100%;
	width: 100%;
}

.flip-card-front img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.flip-card-front .head {
	height: 20%;
	text-align: left;

	position: relative;
	top: -95px;
}

.head span {
	font-size: 20px;
	padding: 5px;
	opacity: 1;
}

.about-container {
	height: 100vh;
}


.about-container .about-left {
	width: 100%;
}

.about-container .about-left {
	width: 100%;
	height: 50%;
}

.about-left .picBox {
	height: 80%;
	width: 60%;
	margin-top: 40px;
}

.picBox .picDiv {
	height: 90%;
	width: 100%;
	margin: 20px 0 0 0;

	background-position: right;
	background-size: contain;
}

.about-container .about-right {
	width: 100%;
	height: 50%;
}

.about-right .topContent {
	text-align: center;
	height: 35%;
}

.topContent h1 {
	font-size: 100px;
}

.topContent span {
	position: relative;
	top: -90px;
}

.topContent strong {
	font-size: 35px;
}

.about-right .center {
	height: 35%;
	text-align: center;
}

.center p {
	padding: 20px 50px;
}

.about-right .bottom {
	height: 30%;
	padding: 0;
}

	/* logo section start */


.logo-container {
	width: 100%;
	padding: 40px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 50%;
	height: 100px;
}

.logo-box img {
	height: 70px;
}

.logo-container .box-2 {
	align-self: center;
	margin: auto;
}

.logo-container .logo-content {
	padding: 5px 0;
}

.logo-content span {
	font-size: 10px;
	padding: 0;
	margin: 0;
}


	/* footer section stArt */




.footer {
  width: 100%;
  height: 35vh;
  text-align: center;
}

.footer img {
  height: 60px;
  margin: 40px 0 0 0;
}

.footer span {
  font-size: 15px;
  padding: 20px 145px;
  line-height: 1.9rem;
}


.footer .footer-socials {
  width: 30%;
  height: 5vh;
  margin: 20px auto 0;
  padding: 0;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}

.footer-socials .facebook-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.facebook-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -5px;
}

.facebook-footer:hover {
  background-color: #004d99;
  transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.twitter-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.twitter-footer:hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.instagram-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.instagram-footer:hover {
  background-image: linear-gradient(to right, purple, hotpink, orange);
  transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
  display: block;
  height: 45px;
  padding: 10px 20px;
  background-color: #f8c617;
}

.youtube-footer i {
  font-size: 20px;
  color: #252c37;
  margin: auto -10px;
}

.youtube-footer:hover {
  background-color: red;
  transition: 0.5s ease-in-out;
}

.footer1 {
  height: 8vh;;
}

.phone {
  width: 100%;
  display: block;
}

.phone .sm2-phone {
  width: 10%;
}

.sm2-phone i {
  font-size: 25px;
  padding-top: 8px;
  margin-left: -5px;
}

.phone .sm2-contact {
  width: 90%;
}

.parent-section {
	display: none;
}













}































@media only screen and (min-width: 1200px) {

.col-lg-1 {
    width: 8.33%;
}
.col-lg-2 {
   width: 16.66%;
}
.col-lg-3 {
   width: 25%;
}
.col-lg-4 {
   width: 33.33%;
}
.col-lg-5 {
   width: 41.66%;
}
.col-lg-6 {
   width: 50%;
}
.col-lg-7 {
   width: 58.33%;
}
.col-lg-8 {
   width: 66.66%;
}
.col-lg-9 {
   width: 75%;
}
.col-lg-10 {
   width: 83.33%;
}
.col-lg-11 {
   width: 91.66%;
}
.col-lg-12 {
   width: 100%;
}

.sm-parent {
	display: none;
}

.parent-contact {
	display: block;
}

.parent-banner {
	height: 150vh;
}

.parent-banner .parent-nav {
	display: block;
}

.banner .btns {
	display: block;

	position: relative;
	top: 650px;
}

.banner-content h1 {
	font-size: 60px;
	margin-top: 100px;
	padding: 0 300px 0 0;
	line-height: 3rem;
}

.banner-content span {
	font-size: 25px;
	font-weight: 400;
	color: #252c37;
	padding: 20px 120px 0 0;
}

.banner-content .play {
	margin-top: 50px;
	height: 20%;
}

.banner-content .play-button {
	padding: 10px 10px;
}

.play-button img {
	height: 80px;
	padding: 5px;
}

.play span {
	font-size: 15px;

	position: relative;
	top: -100px;
	left: 130px;
}

.play strong {
	font-size: 18px;
	font-weight: 600;

	position: relative;
	top: -90px;
	left: 130px;
}





.parent-banner2 {
	height: 150vh;
}

.parent-banner2 .parent-nav {
	display: block;
}

.banner2 .btns {
	display: block;

	position: relative;
	top: 350px;
}

.banner2 .items1 {
	height: 250px;
	position: relative;
	top: 200px;
}

.items1 .child {
	width: 80%;
	height: 150px;
}

.child strong {
	font-size: 40px;
	padding: 20px 0 0 0;
}

.items1 .child1 {
	width: 60%;
	height: 120px;

	position: relative;
	top: -50px;
}

.child1 strong {
	font-size: 35px;
	padding: 30px 0 0 0;
}

.service {
	height: 130vh;
}

.service .banner3 {
	background-image: url(../img/hammerHead_crane.jpg);
}

.banner3 .top {
	height: 50%;
	padding: 130px 0;
}

.top img {
	height: 70px;
}

.top span {
	font-size: 25px;
	padding: 50px 0;
}

.top strong {
	font-size: 50px;
}

.banner3 .bottom {
	height: 50%;
}

.banner3 .flip {
	height: 50%;
	display: flex;
	gap: 20px;
	flex-direction: row;
	justify-content: center;
	padding: 20px 20px;
}

.flip .flip-card {
	width: 33.33%;
	height: 100%;
}

.flip-card .flip-card-inner {
	width: 100%;
	height: 100%;
	text-align: center;
}

.flip-card-inner .flip-card-front {
	width: 100%;
	height: 400px;
}

.flip-card-inner .flip-card-front img {
	width: 100%;
	height: 400px;
}

.flip-card-inner .flip-card-back {
	width: 100%;
	height: 300px;
}

.flip-card-front .head {
	position: relative;
	top: -120px;

	padding: 10px;
}

.head span {
	font-size: 25px;
	padding: 15px;
}


.parent-section {
	display: block;
}









.about-container {
	height: 130vh;
}

.about-container .about-left {
	width: 50%;
	height: 100%;
}

.about-left .picBox {
	width: 70%;
	height: 80%;
	margin-top: 60px;
}

.picBox .picDiv {
	width: 130%;
	height: 80%;
	margin-top: 80px;
}

.about-container .about-right {
	width: 50%;
	height: 100%;
}

.about-right .topContent {
	height: 40%;
}

.topContent h1 {
	font-size: 120px;
}

.topContent span {
	font-size: 25px;

	position: relative;
	top: -110px;
}

.topContent strong {
	font-size: 45px;

	position: relative;
	top: -70px;
}

.about-right .center {
	height: 30%;
}

.center p {
	font-size: 20px;
	padding: 0 30px 0 0;
	line-height: 2.3rem;
}

.about-right .bottom {
	height: 30%;
	padding: 25px 5px;
	display: flex;
	flex: 0 0 300px;
	justify-content: center;
}


	/* logo section stArt */


.logo-container {
	padding: 5px;
	display: flex;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 250px;
	height: 150px;
	text-align: center;
	padding: 40px;
}

.logo-box img {
	height: 70px;
}

.logo-container .box-2 {
	align-self: none;
}

.footer {
	width: 100%;
	height: 80vh;
	text-align: center;
}

.footer img {
	height: 20%;
	margin: 60px 0 0 0;
}

.footer span {
	display: block;
	color: #cccc;
	font-size: 20px;
	line-height: 2rem;
	padding: 30px 380px;
}


	/* footer section stArt */


.footer {
  width: 100%;
  height: 80vh;
  text-align: center;
}

.footer img {
  height: 20%;
  margin: 60px 0 0 0;
}

.footer span {
  display: block;
  color: #cccc;
  font-size: 20px;
  line-height: 2rem;
  padding: 30px 380px;
}

.footer .footer-socials {
  width: 25%;
  height: 10vh;
}


.footer .facebook-footer {
  height: 60px;
  padding: 15px 30px;
}

.facebook-footer i {
  font-size: 25px;
  margin-left: -8px;
}

.footer .twitter-footer {
  height: 60px;
  padding: 15px 30px;
}

.twitter-footer i {
  font-size: 25px;
  margin-left: -10px;
}

.footer .instagram-footer {
  height: 60px;
  padding: 15px 30px;
}

.instagram-footer i {
  font-size: 25px;
  margin-left: -10px;
}

.footer .youtube-footer {
  height: 60px;
  padding: 15px 30px;
}

.youtube-footer i {
  font-size: 25px;
  margin-left: -13px;
}

.footer1 {
  height: 10vh;
}

.footer-lft span {
  padding: 10px 0;
}

.footer-rgt a {
  padding: 10px 10px;
}

.phone {
  display: none;
}







}
