@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



ul{
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}


li{
	float: left;
}


li a{
	color: #00264d;
	text-decoration: none;
	display: inline-block;
	padding: 85px 18px 0 18px;
	font-size: 16px;
	font-weight: 500;
}

li a:hover{
	border-bottom: 8px solid #ffdd99;
	transition: 0.2s ease-in-out;
}


html {
	scroll-behavior: smooth;
}


	/* contact secton stArt */


.parent-contact {
	height: 10vh;
	background-color: #00264d;
}

.parent-contact .contact {
	width: 50%;
	height: 100%;
	float: left;
}

.parent-contact .contact-socials {
	height: 100%;
	width: 50%;
	float: left;
}

.contact .span1{
	display: block;
	float: left;
	color: #ccc;
	font-size: 15px;
	padding: 15px 10px;
}

.contact .span2{
	margin-left: 10px;
	font-size: 18px;
	font-weight: 500;
}

.span1 i{
	color: gold;
}

.span1 .strong1{
	font-size: 15px;
	font-weight: 800;
}

.contact:hover .strong1 {
	color: gold;
}

	/* icons section stArt */


.contact-socials .icons {
	height: 100%;
	float: right;
	width: 30%;
	padding: 0 5px;
}

.facebook {
	float: left;
	height: 100%;
}
.facebook i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.facebook:hover {
	background-color: #4d4dff;
	transition: 0.5s ease-in-out;
}

.facebook:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.facebook .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown a {
	color: #fefefe;
	font-size: 12px;
	padding: 5px 5px;
	color: gold;
	text-decoration: none;
}

.facebook:hover .dropdown {
	display: block;
	background-color: #00264d;
}

.twitter {
	float: left;
	height: 100%;
}

.twitter i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.twitter:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.twitter:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.twitter .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown .twitter1 {
	color: #fefefe;
	font-size: 13px;
	color: gold;
	display: block;
	text-decoration: none;
}

.twitter:hover .dropdown {
	display: block;
	background-color: #00264d;
}


.linkedin {
	float: left;
	height: 100%;
}

.linkedin i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.linkedin:hover {
	background-color: #0099ff;
	transition: 0.5s ease-in-out;
}

.linkedin:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.linkedin .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.dropdown .linkedin1 {
	color: #fefefe;
	font-size: 13px;
	color: gold;
	display: block;
	text-decoration: none;
}

.linkedin:hover .dropdown {
	display: block;
	background-color: #00264d;
}


.instagram {
	float: left;
	height: 100%;
}

.instagram i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.instagram:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.instagram:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.instagram .dropdown {
	margin: 15px auto;
	display: none;

	position: absolute;
}

.instagram:hover .dropdown {
	display: block;
	background-color: #00264d;
}

.dropdown:hover .linkedin1 {
	transform: none;
	color: black;
}

.parent-banner .parent-nav {
	height: 20vh;
	background-color: #FFFAFA;
}

.parent-nav .picDiv{
	width: 20%;
	float: left;
	height: 100%;
}

.logo img{
	margin-top: 10px;
	height: 80%;
	float: left; 	
}

.parent-nav .navBar{
	width: 60%;
	height: 100%;
	float: left;
}

.navBar .special{
	margin-left: 60px;
}

.special .home {
	font-size: 20px;
}

.navBar .search {
	font-size: 20px;
}

.home:hover:not(.special){
	border: none;
}

.search:hover:not(.special1){
	border: none;
}

.parent-nav .button {
	height: 100%;
	float: left;
	width: 20%;
}

.button button {
	margin: 40px auto;
	display: block;
	padding: 20px 20px;
	border: none;
	color: #00264d;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
	background-color: #FBFBFB;
	transition: all 0.5s ease-in-out;

	box-shadow: 1px 5px 5px 2px #cccc;
}

.button button:hover {
	color: gold;
	background-color: #00264d;
	transition: 0.5s ease-in-out;
}


	/* dropdown secton stArt */



.dropdown2{
	display: inline-block;
}

.dropdown2 .special2{
	display: block;
	color: #cccc;
	text-decoration: none;
}


.dropdown2 .content{
	display: none;
	position: absolute;
	min-width: 100px;
	background-color: #00264d;
	padding: 15px 20px;
	z-index: 2;

}

.dropdown2:hover .content{
	display: block;
}

.content .special2{
	padding: 10px 10px;
}

.dropdown2 .special2:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.special2 .special3:hover {
	color: #00264d;
}

.special2:hover:not(.special3){
	border-bottom: none;
}


	/* second dropdown menu */


.dropdown3{
	display: inline-block;
	color: #cccc;
}

.dropdown3:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.dropdown3 .special4{
	padding: 0 0 0 30px;
}

.dropdown3 .content2{
	display: none;
	position: absolute;
	min-width: 200px;
	background-color: #00264d;
	margin: 0 0 0 185px;
	padding: 10px 20px;
}

.dropdown3 .special5{
	display: block;
	color: #cccc;
	text-decoration: none;
}

.dropdown3:hover .content2{
	display: block;
}

.dropdown3 .special5:hover {
	color: #00264d;
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.content .dropdown3{
	padding: 10px 10px;
}

.dropdown3:hover:not(.special3){
	border-bottom: none;
}

.special5:hover:not(.special6){
	border-bottom: none;
}

.dropdown3 .special5:hover{
	background-color: gold;
	color: #00264d;
}

.content2 .special5{
	padding: 10px 10px;
	color: #cccc;
}

.content2 .special6{
	padding: 10px 0;
}


	/*  Top body section stArt	*/


.body {
	height: 30vh;
	background-color: #fffafa;
}

.body .left {
	width: 50%;
	height: 100%;
	float: left;
}

.left .services {
	margin: 180px 0 0 0;
	display: block;
	font-size: 20px;
	color: #00264d;
}

.body .right {
	width: 50%;
	height: 100%;
	float: right;
}

.right .special7 {
	color: #00264d;
	font-size: 18px;
	float: right;
	margin: 80px 0 0 0;
	text-decoration: none;
}

.right .special8 {
	color:  #003366;
	font-size: 15px;
	float: right;
	padding: 100px 10px 0 0;
}



	/* Services header  */


.container {
	height: 160vh;
	text-align: center;
}

.container h1 {
	font-size: 150px;
	font-weight: 700;
	color: #fffafa;
	text-transform: uppercase;
	margin-top: 50px;
}

.container span {
	font-size: 30px;
	font-weight: 400;
	color: gold;
	text-transform: uppercase;

	position: relative;
	top: -130px;
}

.container strong {
	font-size: 50px;
	display: block;
	color: #000;
	margin-top: -90px;
}

.container .parent-card {
	height: 57%;
	margin-top: 120px;
}

.parent-card .card-container {
	height: 100%;
}

.card-container .icon-box {
	height: 100px;
	width: 100px;
	margin: auto;
	background-color: #001a33;

	position: relative;
	top: -40px;
}

.icon-box i {
	color: #fefefe;
	font-size: 50px;
	margin-top: 20px;
}

.icon-box img {
	height: 60px;
	margin: 10px 0 0 0;
}

.card-container .box {
	height: 100%;
	width: 25%;
	float: left;
	padding: 25px;
}

.box .card {
	border: 2px solid #000d1a ;
	height: 100%;
	text-align: center;
	background-color: #fefefe;
	transition: all 0.5s ease-in-out;
}

.card:hover {
	border: none;
	background-color: #001a33;
	transform: translateY(10px);
	transition: 0.5s ease-in-out;

}

.card:hover .icon-box {
	background-color: gold;
	transition: 0.5s ease-in-out;
	transform: translateY(10px);
}

.card strong {
	font-size: 25px;
	padding: 0 30px 0 30px;
	margin-top: 5px;
	color: #00264d;
}

.card p {
	font-size: 18px;
	color: #b3b3b3;
	font-weight: 300;
	padding: 15px 10px 0 10px;
	line-height: 1.7rem;
}

.card:hover strong {
	color: gold;
	transition: 0.5s ease-in-out;
}

.card:hover p {
	color: #f8f8f8;
	transition: 0.5s ease-in-out;
}

.card:hover button {
	background-color: gold;
	transition: 0.5s ease-in-out;
}

.card:hover a {
	color: #00264d;
	font-weight: 500;
}


.card button {
	border: none;
	padding: 20px 50px;
	margin: 50px 0 0 0;	
	font-size: 20px;
	background-color: #001a33;
	cursor: pointer;
}

button a{
	text-decoration: none;
	color: #fefefe;
	font-weight: 500;
}

.parent-section {
	height: 150vh;
	clear: both;

}

.parent-section .section {
	height: 100%;
	clear: both;
	background-image: url('../img/hammerHead_crane.jpg');
	background-size: cover;
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}


.section::before{
	content: '';
	background-color: #252c37;
	width: 100%;
	height: 100%;
	opacity: 0.7;

	position: absolute;
	top: 0;
	left: 0;
}

.section .section-lft {
	height: 30%;
	width: 50%;
	float: left;
	margin-top: 150px;
	position: relative;
	z-index: 1;
	opacity: 1;
}

.section-lft span {
	color: gold;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px 30px;
	display: block;
	opacity: 10px;
}

.section-lft h2 {
	color: #fefefe;
	font-size: 50px;
	padding: 5px 60px 0 30px;
}

.section .section-rgt {
	height: 30%;
	width: 50%;
	float: left;
	margin-top: 150px;
	position: relative;
	z-index: 1;
	opacity: 1;
}

.section-rgt p{
	font-size: 20px;
	color: #cccc;
	padding: 5px 10px;
	line-height: 2rem;
}

.section .flip-container {
	height: 45%;
	clear: both;
	position: relative;
}

.flip-container .card-container-flip {
	width: 33.33%;
	height: 100%;
	float: left;
	padding: 15px;
}

.card-container-flip .card-flip {
	height: 120%;

	background-image: url('../img/engineer-man.jpg');
	object-fit: cover;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;

	position: relative;
}

.card-container-flip .card-flip2 {
	height: 120%;

	background-image: url('../img/worker-helmet2.jpg');
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;

	position: relative;
}

.card-container-flip .card-flip3 {
	height: 120%;

	background-image: url('../img/road-contruction.jpg');
	object-fit: cover;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;

	position: relative;	
}

.card-flip .cardText {
	width: 90%;
	margin: auto;
	padding: 20px;

	position: relative;
	top: 350px;
}

.card-flip2 .cardText {
	width: 90%;
	margin: auto;
	padding: 20px;

	position: relative;
	top: 350px;
}

.card-flip3 .cardText {
	width: 90%;
	margin: auto;
	padding: 20px;

	position: relative;
	top: 350px;
}

.cardText::before{
	content: '';
	background-color: #252c37;
	width: 100%;
	height: 100%;
	opacity: 0.7;

	position: absolute;
	top: 0;
	left: 0;
}

.cardText .card-title {
	font-size: 20px;
	color: #fefefe;
	text-transform: capitalize;
	padding: 0 20px;
	position: relative;
	opacity: 1;
}


	/* card hover section stArt */


.card-flip .card-content3 {
	display: none;
	height: 100%;
	background-color: gold;
	text-align: left;
}

.card-flip:hover .card-content3 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.card-content3 strong {
	font-size: 20px;
	padding: 30px 30px;
	display: block;
	text-transform: capitalize;
	color: #252c37;
}

.card-flip2 .card-content3 {
	display: none;
	height: 100%;
	background-color: gold;
	text-align: left;
}

.card-flip2:hover .card-content3 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.card-content3 strong {
	font-size: 20px;
	padding: 30px 30px;
	display: block;
	text-transform: capitalize;
	color: #252c37;
}


.card-flip3 .card-content3 {
	display: none;
	height: 100%;
	background-color: gold;
	text-align: left;
}

.card-flip3:hover .card-content3 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.card-content3 strong {
	font-size: 25px;
	font-weight: 700;
	padding: 40px 30px 10px 30px;
	display: block;
	text-transform: capitalize;
	color: #252c37;
}

.card-content3 p {
	font-size: 18px;
	color: #252c37;
	line-height: 1.9rem;
	padding: 20px 30px;
}

.card-content3 button {
	border: none;
	margin: 20px 0 0 30px;
}

.card-content3 button a {
	font-size: 20px;
	color: #252c37;
	text-decoration: none;
	text-transform: capitalize;
	background-color: #fefefe;
	padding: 15px 30px;

}



	/* service2 section stArt */


.container2 {
	height: 200vh;
	text-align: center;
}

.container2 h3 {
	font-size: 150px;
	font-weight: 700;
	color: #fffafa;
	text-transform: uppercase;
	margin-top: 50px;
}

.container2 span {
	font-size: 30px;
	font-weight: 400;
	color: gold;
	text-transform: uppercase;

	position: relative;
	top: -130px;
}

.container2 strong {
	font-size: 50px;
	display: block;
	color: #000;
	margin-top: -90px;
}

.container2 .section2 {
	height: 40%;
	margin-top: 50px;
}

.section2 .section2-container {
	width: 50%;
	height: 100%;
	float: left;
	padding: 10px;
}

.section2-container .section2-box {
	height: 100%;
	background-color: #fefefe;
	box-shadow: 0 0 30px 0 #ccc;
	text-align: center;
	transition: all ease-in-out 0.5s;
}

.section2-box img {
	height: 100px;
	margin: 50px 0;
}

.section2-box span {
	color: #252c37;
	font-size: 25px;
	font-weight: 600;
	border-bottom: 5px solid #f8c617;
	text-transform: capitalize;
	padding: 0 0 10px 0;
	margin: 50px 200px 0 200px;
}

.section2-box p {
	font-size: 18px;
	color: #999999;
	padding: 5px 50px;
}

.section2-box button {
	margin: 30px 0 0 0;
	padding: 15px 30px;
	border: none;
	background-color: #252c37;
}

.section2-box button a {
	color: #fefefe;
	font-size: 15px;
	font-size: 700;
	text-decoration: none;
	text-transform: capitalize;
}


.section2-box:hover{
	background-color: #252c37;
	transition:  0.5s ease-in-out;
}

.section2-box:hover span{
	color: #fefefe;
	border-bottom: 5px solid #fefefe;
	transition: all 0.5s ease;
}

.section2-box:hover p {
	color: #fefefe;
	transition: all 0.5s ease;
}

.section2-box:hover button {
	background-color: #fefefe;
	transition: all 0.5s ease;
}

.section2-box:hover a {
	color: #252c37;
	transition: all 0.5s ease;
}

.container2 .container3 {
	height: 29%;
	background-color: #f8c617;
}

.container3 .left {
	width: 75%;
	height: 50%;
	float: left;
	margin-top: 100px;
}

.container3 .right {
	width: 25%;
	height: 50%;
	float: left;
	margin-top: 100px;
}

.container3 .icon-box {
	width: 80px;
	height: 70px;
	clear: both;
	display: block;
	margin: 100px 0 0 30px;
	background-color: #252c37;
}

.left strong {
	display: block;
	font-size: 30px;
	color: #252c37;
	padding: 0;
	margin: 0;

	position: relative;
	left: 50px;
	top: -80px;
}

.left span {
	display: block;
	font-size: 17px;
	color: #252c37;
	text-transform: capitalize;

	position: relative;
	top: -80px;
	right: 2px;
}

.right button {
	margin: 100px 0 0 0;
	padding: 20px 20px;
	background-color: #fefefe;
	border: none;
}

.right a {
	font-size: 20px;
	font-weight: 600;
	color: #252c37;
	text-transform: capitalize;
	padding: 20px 20px;
	text-decoration: none;
}

.right button:hover {
	background-color: #252c37;
	transition: 0.5s ease-in-out;
}

.right a:hover {
	color: gold;
	transition: 0.5s ease-in-out;
}



	/* how section stArt */


.container-title {
	height: 280vh;
}

.container-title .title-container {
	height: 100%;
}

.title-container .title-content {
	width: 60%;
	height: 60%;
	float: left;
}

.title-content h4 {
	font-size: 130px;
	font-weight: 700;
	color: #fffafa;
	text-transform: uppercase;
}

.title-content span {
	font-size: 20px;
	font-weight: 400;
	color: gold;
	text-transform: uppercase;

	position: relative;
	top: -120px;
	left: 50px;
}

.title-content strong {
	display: block;
	font-size: 50px;
	color: #000;
	padding: 20px 30px;
	text-align: left;
	text-transform: capitalize;
	margin-top: -90px;
}

.title-content p {
	font-size: 20px;
	color: #737373;
	text-align: left;
	padding: 0 200px 0 30px;
}

.title-content .picDiv1 {
	width: 80%;
	height: 40%;
	margin: 70px 0 0 0;
}

.picDiv1 .pic-box {
	height: 100%;
	background-color: #f8c617;
}

.pic-box .Pic {
	height: 100%;

	background-image: url('../img/workers-process.jpg');
	background-size: cover;
	background-position: center;

	position: relative;
	top: -50px;
	left: 50px;
}

.Pic:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
	transition: all 0.5s ease-in-out;
}

.container-title .items-container {
	width: 40%;
	height: 60%;
	float: right;
	background-color: #252c37;
}

.items-container .list {
	height: 150px;
	margin: 120px 0 0 0;
	transition: all 0.4s ease-in-out;
}

.list:hover {
	transform: translateX(-50px);
	transition: 0.4s ease-in-out;
}

.list .items-list-numbers {
	width: 30%;
	height: 100%;
	float: left;
	background-color: #f8c617;
}

.items-list-numbers:hover {
	background-color: #fefefe;
	box-shadow: 5px 5px 10px 1px #cccc;
}

.items-list-numbers span:hover {
	color: #252c37;
}

.items-list-numbers span {
	display: block;
	text-align: center;
	padding: 30px;
	font-size: 55px;
	color: #fefefe;
}

.list .items-list-content {
	width: 70%;
	height: 100%;
	float: left;
	padding: 5px 20px;
}

.items-list-content strong {
	display: block;
	font-size: 30px;
	color: #fefefe;
	text-transform: capitalize;
}

.items-list-content span {
	display: block;
	font-size: 18px;
	padding: 10px 0;
	color: #cccc;
	line-height: 1.8rem;
	background-color: #252c37;
}


		/*	request form section stArt	*/


.title-container .container4-title {
	width: 60%;
	height: 90vh;
	float: left;
	margin-top: 55px;
	background-color: #252c37;
}

.container4-title h5 {
	color: #ac9653;
	text-transform: uppercase;
	font-size: 110px;
	font-weight: bolder;
	margin: 10px 0 0 30px;
}

.container4-title span {
	font-size: 20px;
	font-weight: 400;
	color: gold;
	text-transform: uppercase;

	position: relative;
	top: -100px;
	left: 80px;
}

.container4-title strong {
	font-size: 40px;
	color: #fefefe;
	display: block;
	text-align: left;
	padding: 0 140px 0 50px;
}

.container4-title p {
	font-size: 17px;
	color: #cccc;
	padding: 20px 120px 0 50px;
	text-align: left;
	line-height: 1.9rem;
}


.title-container .formDiv {
	width: 40%;
	height: 70vh;
	float: left;
	margin: 110px auto;
	background-color: #f8c617;
	padding: 5px 30px;

	position: relative;
	right: 100px;
}

.formDiv label {
	font-size: 12px;
	color: #867c79;
	text-transform: capitalize;
	display: block;
	padding: 5px 50px 5px 20px;
	margin: auto 60px;
}

.formDiv input {
	padding: 10px 50px;
	margin: auto;
	display: block;
	border: none;
}

select {
	padding: 10px 55px;
	margin: auto;
	display: block;
	border: none;
	text-transform: capitalize;
}
option {
	text-transform: capitalize;
	border: none;
}

textarea {
	margin: 10px auto;
	display: block;
}

.formDiv button {
	border: none;
	color: #fefefe;
	font-weight: 700;
	float: right;
	display: block;
	padding: 15px 20px;
	margin: 15px 75px 0 0;
	background-color: #252c37;
}

.formDiv button:hover {
	color: #252c37;
	background-color: #fefefe;
	transition: 0.5s ease-in-out;
}


		/* footer section stArt */



.logo-container {
	padding: 30px;
	background-color: #f8c617;
	display: flex;
}

.logo-container .logo-box {
	padding: 20px;
	width: 250px;
	height: 150px;
	text-align: center;
}

.logo-box:hover img {
	transition: 0.5s ease;
}

.logo-box .logo-content {
	display: none;
	padding: 5px 5px;
	margin-top: -10px;
	background-color: #252c37;
}

.logo-content span {
	color: gold;
	font-size: 10px;
	display: block;
	text-transform: capitalize;
}

.logo-box:hover .logo-content {
	display: block;
	transform: translateY(-100px);
}


.footer {
	height: 80vh;
	background-color: #252c37;
	text-align: center;;
}

.footer img {
	height: 20%;
	margin: 60px 0 0 0;
}

.footer span {
	display: block;
	color: #cccc;
	font-size: 20px;
	line-height: 2rem;
	padding: 30px 320px 0 320px;
}

.footer .footer-socials {
	width: 30%;
	height: 20vh;
	padding: 30px 0 0 0;
	margin: auto;
	display: flex;
	align-content: flex-start;
	justify-content: space-evenly;
}

.footer-socials .facebook-footer {
	display: block;
	width: 10px;
	height: 70px;
	padding: 20px 30px;
	background-color: #f8c617;
}

.facebook-footer i {
	font-size: 25px;
	color: #252c37;
	margin-left: -8px;
}

.facebook-footer:hover {
	background-color: #004d99;
	transition: 0.5s ease-in-out;
}

.facebook-footer:hover i {
	color: #fefefe;
	transition: 0.5s ease;
	transform: rotate(360deg);
}

.footer-socials .twitter-footer {
	display: block;
	width: 10px;
	height: 70px;
	padding: 20px 30px;
	background-color: #f8c617;
}

.twitter-footer i {
	font-size: 25px;
	color: #252c37;
	margin-left: -10px;
}

.twitter-footer:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.twitter-footer:hover i {
	color: #fefefe;
	transition: 0.5s ease;
	transform: rotate(360deg);
}

.footer-socials .instagram-footer {
	display: block;
	width: 10px;
	height: 70px;
	padding: 20px 30px;
	background-color: #f8c617;
}

.instagram-footer i {
	font-size: 25px;
	color: #252c37;
	margin-left: -10px;
}

.instagram-footer:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.instagram-footer:hover i {
	color: #fefefe;
	transition: 0.5s ease;
	transform: rotate(360deg);
}

.footer-socials .youtube-footer {
	display: block;
	width: 10px;
	height: 70px;
	padding: 20px 30px;
	background-color: #f8c617;
}

.youtube-footer i {
	font-size: 25px;
	color: #252c37;
	margin-left: -13px;
}

.youtube-footer:hover {
	background-color: red;
	transition: 0.5s ease-in-out;
}

.youtube-footer:hover i {
	color: #fefefe;
	transition: 0.5s ease;
	transform: rotate(360deg);
}



.footer1 {
	height: 15vh;
}

.footer1 .footer-lft {
	width: 50%;
	height: 100%;
	padding: 10px 0;
	float: left;
}

.footer-lft span {
	padding: 20px 0;
	display: block;
	color: #737373;
}

.footer1 .footer-rgt {
	width: 50%;
	height: 100%;
	padding: 10px 0;
	float: left;
}

.footer-rgt a {
	float: right;
	color: #737373;
	padding: 20px 10px 0 10px;
	text-decoration: none;
	text-transform: capitalize;
}

.footer-rgt a:hover {
	color: #f8c617;
	transition: 0.5s ease;
}


	/* arrowDiv section stArt */


.arrowDiv {
	border: 1px solid #cccc;
	width: 50px;
	height: 50px;
	background-color: #252c37;
	cursor: pointer;
	z-index: 20;
	display: block;

	position: fixed;
	bottom: 40px;
	right: 30px;
}

.arrowDiv i {
	font-size: 20px;
	font-weight: lighter;
	color: #fefefe;
	padding: 15px 20px;
}

.arrowDiv:hover {
	background-color: #f8c617;
	transition: 0.5s ease;
}

.arrowDiv:hover i {
	color: #252c37;
	transition: 0.5s ease;
}


.phone {
	height: 50px;
	text-align: center;
	display: none;
}

.phone .sm2-phone {
	width: 10%;
	height: 100%;
	float: left;
	display: block;
	background-color: #f8c617;;
}

.sm2-phone i {
	font-size: 35px;
	padding: 5px 13px;
	color: #252c37;
}

.phone .sm2-contact {
	width: 90%;
	height: 100%;
	display: block;
	float: left;
	background-color: #252c37;
	color: #fefefe;
	padding: 8px 0;
}































	/* contact section for small devices	*/


.sm-parent {
	height: 15vh;
	display: none;
}

.sm-parent .sm-nav {
	height: 100%;
}

.sm-nav .sm-picDiv {
	width: 50%;
	float: left;
	height: 100%;
}

.sm-logo img {
	height: 80%;
}

.sm-nav .sm-contact {
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 0;
}

.sm-contact .sm-box {
	width: 50px;
	height: 50px;
	float: left;
	background-color: gold;
	margin: 0 10px 0 500px;
}

.sm-box .sm-phone {
	margin: auto ;
}

.sm-phone i {
	font-size: 35px;
	color: #00284d;
	text-decoration: none;
	margin: 7px 10px;
}

.sm-contact .sm-box1 {
	width: 50px;
	height: 50px;
	float: left;
}

.sm-box1 .button {
	border: none;
	background-color: #00284d;
	position: relative;
	z-index: 1000;
}

.sm-box1 .sm-bars {
	margin: auto;
}

.sm-bars i {
	font-size: 35px;
	color: gold;
	text-decoration: none;
	margin: 7px 10px;
}


	/* Hamburger menu section stArt */


.burger-parent {
	height: 80vh;
	float: right;
	margin: 110px auto 0;
	display: none;
	z-index: 100;

	position: absolute;
	top: 0;
	left: 0;
}

.burger-parent.open {
	display: block;
}

.burger-parent .burger-container {
	height: 100%;
	background-color: #000d1a;	
}

.items .homemenu {
	color: #fefefe;
	padding: 15px 30px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	display: block;
}

.items .menu{
	text-decoration: none;
	color: #fefefe;
}

.items span {
	display: block;
	border-bottom: 1px solid #cccc;
	padding: 15px 30px;
}

.items:hover .homemenu {
	color: gold;
	transition: 0.5s ease-in-out;
}

.menu:hover {
	color: gold;
	transition: 0.5s ease-in-out;
}

.socials .socials-container {
	width: 300px;
	height: 100px;
	margin: 50px auto 0 ;
	padding: 30px 0;
}

.facebooks {
	float: left;
	width: 40px;
	margin: 0 10px 0 50px;
	background-color: gold;
}
.facebooks i {
	color: #fefefe;
	margin: auto 15px;
	padding: 15px 0;
	font-size: 20px;
}

.facebooks:hover {
	background-color: #4d4dff;
	transition: 0.5s ease-in-out;
}

.facebooks:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.facebooks .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.dropdown1 a {
	color: #fefefe;
	font-size: 10px;
	padding: 5px 5px;
	color: gold;
	text-decoration: none;
}

.facebooks:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.twitter2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.twitter2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.twitter2:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.twitter2:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.twitter2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.twitter2:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.linkedin2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.linkedin2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.linkedin2:hover {
	background-color: #0099ff;
	transition: 0.5s ease-in-out;
}

.linkedin2:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.linkedin2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.linkedin2:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.instagram2 {
	float: left;
	width: 40px;
	margin: 0 10px 0 0;
	background-color: gold;
}

.instagram2 i {
	color: #fefefe;
	margin: auto 10px;
	padding: 15px 0;
	font-size: 20px;
}

.instagram2:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.instagram2:hover i {
	transform: rotate(360deg);
	transition: 0.5s ease-in-out;
}

.instagram2 .dropdown1 {
	margin: -75px auto;
	display: none;

	position: absolute;
}

.instagram1:hover .dropdown1 {
	display: block;
	background-color: #00264d;
}

.socials .copy {
	display: block;
	color: #fefefe;
	clear: both;
	text-align: center;
	margin: 10px auto 0;
	font-size: 15px;
	font-weight: 400;
}


























	/* SCREEN SIZE FOR SMALL DEVICES MAX-WIDTH: 450PX; */




@media only screen and (max-width: 450px){

    .col-sm-1 {
    width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
    width: 25%;
    }
    .col-sm-4 {
    width: 33.33%;
    }
    .col-sm-5 {
    width: 41.66%;
    }
    .col-sm-6 {
    width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
    width: 66.66%;
    }
    .col-sm-9 {
    width: 75%;
    }
    .col-sm-10 {
    width: 83.33%;
    }
    .col-sm-11 {
    width: 91.66%;
    }
    .col-sm-12 {
    width: 100%;
    }


.parent-contact,
.parent-banner {
	display: none;
}

.sm-parent {
	height: 8vh;
	display: block;
}

.sm-contact .sm-box {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 90px;
}

.sm-contact .sm-box1 {
	width: 40px;
	height: 40px;
}

.sm-box i {
	font-size: 20px;
	padding: 2px;
}

.sm-box1 .button i {
	font-size: 20px;
}

.sm-box1 .button {
	padding: 3px;
}

.sm-logo img {
	height: 55px;
}

.burger-parent {
	width: 100%;
	margin: 75px auto 0;
}

.body {
	height: 8vh;
}

.body .left {
	text-align: center;
	width: 100%;
}

.body .services {
	margin: 0;
	padding: 5px 0;
	font-size: 15px;

}

.body .right {
	display: none;
}

.container h1 {
	display: none;
}

.container span {
	padding: 10px 0;
	display: block;
	font-size: 15px;

	position: relative;
	top: 0;
}

.container strong {
	font-size: 20px;
	margin: 5px 0;
}

.container .parent-card {
	margin: 20px 0;
}

.card-container .box {
	width: 100%;
}

.card-container .icon-box {
	width: 100px;
	height: 100px;
}

.icon-box img {
	height: 50px;
	margin: 20px auto 0;
}

.card-container .box {
	height: 50%;
	padding: 20px;
}

.box .card {
	height: 100%;
}

.card strong {
	font-size: 20px;
	padding: 10px;
	margin-top: -30px;
}

.card p {
	font-size: 15px;
	padding: 0 30px;
}

.card button {
	padding: 20px 100px;
	margin-top: 20px;
}

.card button a {
	font-size: 15px;
}

.parent-section {
	height: 200vh;
	margin-top: 0;
	display: none;
}

.parent-section .section {
	background-image: none;
}

.section .section-lft {
	width: 100%;
	height: 20%;
	text-align: center;
	margin: 50px 0 0 0;
}

.section-lft h2 {
	font-size: 30px;
	padding: 10px 10px 0 10px;
}

.section .section-rgt {
	width: 100%;
	height: 20%;
	margin-top: -150px;
}

.section-rgt p {
	text-align: center;
	padding: 0 30px;
}

.section .flip-container {
	height: 30%;
	display: none;
}

.flip-container .card-container-flip {
	padding: 10px;
	margin: 0;
}

.flip-container .card-container-flip {
	width: 100%;
	margin-top: -100px;
}

.card-container-flip .card-flip {
	width: 100%;
	height: 50%;
}

.card-flip .cardText {
	position: relative;
	top: 180px;
}

.card-container-flip .card-flip2 {
	width: 100%;
	height: 50%;
}

.card-flip2 .cardText {
	position: relative;
	top: 180px;
}

.card-container-flip .card-flip3 {
	width: 100%;
	height: 50%;
}

.card-flip3 .cardText {
	position: relative;
	top: 180px;
}

.container2{
	clear: both;
	background-color: #001a33;
	height: 150vh;
}

.container2 h3 {
	display: none;
}

.container2 span {
	display: block;
	font-size: 18px;

	position: relative;
	top: 5px;
}

.container2 strong {
	color: #fefefe;
	font-size: 20px;
	margin-top: 10px;
}

.section2 .section2-container {
	width: 100%;
	height: 70%;

}

.section2-box img {
	height: 60px;
	margin: 30px 0 10px 0;
}

.section2-box span {
	display: block;
	padding: 0 0 10px 0;
	margin: 20px 120px 20px 120px;
}

.section2-box p {
	padding: 0 20px;
	font-size: 16px;
	text-align: center;
	line-height: 2rem;
}

.section2-box button {
	margin-top: 25px;
}

.container3 {
	margin-top: 220px;
}

.container3 .left {
	width: 100%;
	text-align: center;
	margin: 0;
}

.left .icon-box {
	margin: 10px auto;
}

.left strong {
	font-size: 20px;
	padding: 10px 50px;
	color: #252c37;
	display: block;

	position: relative;
	left: 0;
	top: 0;
}

.left span {
	font-size: 17px;
	padding: 10px 50px;
	line-height: 1.9rem;

	position: relative;
	top: 0;
	right: 0;
}

.container3 .right {
	width: 100%;
	margin: 0;

	position: relative;
	top: -5px;
}

.right button {
	margin: 80px 0 0 0;
}

.title-container .title-content {
	text-align: center;
	width: 100%;
	height: 25%;
}

.title-content h4 {
	display: none;
}

.title-content span {
	display: block;
	font-size: 18px;
	padding: 30px 0 0 0;

	position: relative;
	top: 0;
	left: 0;
}


.title-content strong {
	color: #000;
	font-size: 25px;
	margin: 0;
	padding: 10px 10px;
	text-align: center;
}

.title-content p {
	font-size: 18px;
	text-align: center;
	padding: 20px 50px;
}

.picDiv1 .pic-box {
	height: 100%;
}
.pic-box .Pic {
	height: 100%;
}

.title-container .items-container {
	width: 90%;
	height: 40%;
}

.items-container .list {
	margin: 50px 0 0 0;
}

.list:hover {
	transform: none;
}

.list .items-list-numbers {
	width: 120px;
	height: 120px;
	margin: auto 120px;
	display: block;
}

.items-list-numbers:hover span {
	transition: none;
}

.items-list-numbers span {
	font-size: 39px;
}

.list .items-list-content {
	width: 100%;
	text-align: center;
}

.items-list-content strong {
	font-size: 25px;
	padding: 20px 0 0 0;
}

.items-list-content span {
	padding: 10px 20px 0 20px;
}

.title-container .container4-title {
	width: 90%;
	height: 40vh;
	margin: 15px 0;
	text-align: center;
}

.container4-title h5 {
	display: none;
}

.container4-title span {
	font-size: 13px;
	display: block;
	padding: 20px 0 0 0;

	position: relative;
	top: 0;
	left: 0;
}

.container4-title strong {
	font-size: 20px;
	padding: 10px 90px;
	text-align: center;
}

.container4-title p {
	font-size: 15px;
	text-align: center;
	padding: 10px 50px;
}

.title-container .formDiv {
	width: 90%;
	height: 50vh;
	margin: 5px 20px;

	position: relative;
	right: 0;
}

.formDiv label {
	margin: auto auto;
}

.formDiv select {
	margin: 0 15px 0 15px;
	border-radius: 1rem;
	padding: 5px;
}

.formDiv textarea {
	margin: 15px auto;
}

.formDiv button {
	margin: 10px 20px;
}

.logo-container {
	width: 100%;
	padding: 20px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 50%;
	height: 100px;
}

.logo-box img {
	height: 50px;
}

.logo-box .logo-content {
	display: none;
	padding: 5px 5px;
	margin: 10px 0 0 0;
	background-color: #252c37;
}

.logo-content span {
	font-size: 10px;
	padding: 0;
}

.logo-container .box-2 {
	align-self: center;
	margin: auto auto;
}


.footer {
	width: 100%;
	height: 35vh;
	text-align: center;
}

.footer img {
	height: 60px;
	margin: 20px 0 0 0;
}

.footer span {
	font-size: 10px;
	padding: 20px 50px;
	line-height: 1.2rem;
}

.footer .footer-socials {
	width: 50%;
	height: 10vh;
	margin: auto;
	display: flex;
	align-content: flex-start;
	justify-content: space-evenly;
}

.footer-socials .facebook-footer {
	display: block;
	height: 45px;
	padding: 12px 20px;
	background-color: #f8c617;
}

.facebook-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -5px;
}

.facebook-footer:hover {
	background-color: #004d99;
	transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
	display: block;
	height: 45px;
	padding: 12px 20px;
	background-color: #f8c617;
}

.twitter-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.twitter-footer:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
	display: block;
	height: 45px;
	padding: 12px 20px;
	background-color: #f8c617;
}

.instagram-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.instagram-footer:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
	display: block;
	height: 45px;
	padding: 12px 20px;
	background-color: #f8c617;
}

.youtube-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.youtube-footer:hover {
	background-color: red;
	transition: 0.5s ease-in-out;
}




.footer1 {
	height: 8vh;;
}

.footer1 .footer-lft {
	width: 100%;
	height: 100%;
}

.footer-lft span {
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
}


.footer1 .footer-rgt {
	display: none;
}

.arrowDiv {
	width: 30px;
	height: 30px;
}

.arrowDiv i {
	font-size: 15px;
	padding: 0;
}


.phone {
	width: 100%;
	display: block;
}

.phone .sm2-phone {
	width: 10%;
}

.sm2-phone i {
	font-size: 25px;
	padding-top: 8px;
	margin-left: -5px;
}

.phone .sm2-contact {
	width: 90%;
}




}

























@media only screen and (min-width:760px) {

.col-md-1 {
   width: 8.33%;
 }
.col-md-2 {
    width: 16.66%;
 }
 .col-md-3 {
	 width: 25%;
 }
 .col-md-4 {
 	width: 33.33%;
 }
 .col-md-5 {
 	width: 41.66%;
 }
 .col-md-6 {
 	width: 50%;
 }
 .col-md-7 {
    width: 58.33%;
 }
 .col-md-8 {
 	width: 66.66%;
 }
 .col-md-9 {
 	width: 75%;
 }
 .col-md-10 {
 	width: 83.33%;
 }
 .col-md-11 {
 	width: 91.66%;
 }
 .col-md-12 {
 	width: 100%;
 }


.parent-contact,
.parent-banner {
	display: none;
}

.sm-parent {
	height: 8vh;
	display: block;
}

.sm-nav .sm-picDiv {
	height: 100%;
}

.sm-nav .sm-contact {
	height: 100%;
	padding: 10px 0;
}

.sm-contact .sm-box {
	margin: 0 10px 0 250px;
}

.sm-logo img {
	height: 60px;
}

.sm-box i {
	font-size: 25px;
	padding: 2px;
}

.sm-box1 .button i {
	font-size: 25px;
}

.sm-box1 .button {
	padding: 5px;
}

.burger-parent {
	width: 100%;
	margin: 75px auto 0;
}

.body {
	height: 10vh;
}

.left .services {
	margin-top: 30px;
}

.right .special7 {
	margin: 20px 0 0 0;
}

.right .special8 {
	padding: 40px 5px 0 0;
}

.container h1 {
	display: block;
	font-size: 100px;
}

.container span {
	padding: 10px 0;
	display: block;
	font-size: 20px;

	position: relative;
	top: -100px;
}

.container strong {
	font-size: 35px;
	padding: 5px 0 20px 0;
}

.container .parent-card {
	margin: 50px 0;
}

.card-container .box {
	width: 50%;
}

.card-container .icon-box {
	width: 100px;
	height: 100px;
}

.icon-box i {
	margin-top: 15px;
	font-size: 60px;
}

.card-container .box {
	height: 50%;
	padding: 20px;
}

.box .card {
	height: 100%;
}

.card strong {
	font-size: 25px;
	padding: 10px 65px;
	margin-top: -30px;
}

.card p {
	font-size: 15px;
	line-height: 1.9rem;
	padding: 15px 35px 20px 35px;
}

.card button {
	padding: 20px 100px;
	margin-top: 20px;
}

.card button a {
	font-size: 15px;
}


.parent-section {
	margin-top: -450px;
}

.section .section-lft {
	width: 100%;
	height: 20%;
	text-align: center;
	margin: 50px 0 0 0;
}

.section-lft span {
	font-size: 25px;
}

.section-lft h2 {
	font-size: 40px;
	padding: 10px 10px 0 10px;
}

.section .section-rgt {
	width: 100%;
	height: 20%;
	margin-top: -150px;
}

.section-rgt p {
	font-size: 20px;
	text-align: center;
	padding: 0 30px;
}

.flip-container .card-container-flip {
	padding: 10px;
	margin: 0;
}

.flip-container .card-container-flip {
	width: 100%;
	padding: 30px;
	margin-top: -180px;
}

.card-container-flip .card-flip {
	width: 100%;
	height: 60%;

	background-position: top;
}

.card-flip .cardText {
	position: relative;
	top: 280px;
}

.card-container-flip .card-flip2 {
	width: 100%;
	height: 60%;
	margin-top: -80px;
}

.card-flip2 .cardText {
	position: relative;
	top: 280px;
}

.card-container-flip .card-flip3 {
	width: 100%;
	height: 60%;
	margin-top: -170px;
}

.card-flip3 .cardText {
	position: relative;
	top: 280px;
}

.cardText .card-title {
	font-weight: 600;
}

.container2 {
	height: 200vh;
}

.container2 h3 {
	font-size: 100px;

	position: relative;
	top: -400px;
}

.container2 span {
	display: block;
	font-size: 20px;

	position: relative;
	top: -490px;
}

.container2 strong {
	color: #000;
	font-size: 35px;

	position: relative;
	top: -370px;
}

.container2 .section2 {
	margin-top: -300px;

}

.section2 .section2-container {
	width: 50%;
	height: 70%;
	margin-top: -150px;

}

.section2-box img {
	margin: 30px 0 0 0;
}

.section2-box span {
	padding: 0 10px 0;
	margin: 50px 100px 20px 100px;

	position: relative;
	top: 10px;
}

.section2-box p {
	padding: 20px 20px 10px 20px;
	text-align: 13px;
	line-height: 2rem;
}

.section2-box button {
	margin-top: 35px;
}

.container2 .container3 {
	margin-top: -240px;
	height: 20%;
}

.container3 .left {
	width: 100%;
	text-align: center;
	margin: 0;
}

.left .icon-box {
	margin: 20px auto;
}

.left strong {
	font-size: 30px;
	padding: 10px 10px;
	color: #252c37;
	display: block;

	position: relative;
	left: 0;
	top: 0;
}

.left span {
	font-size: 20px;
	padding: 10px 10px;
	line-height: 1.9rem;

	position: relative;
	top: 0;
	right: 0;
}

.container3 .right {
	width: 100%;
	margin: 0;
}

.right button {
	margin: 80px 0 0 0;
}

.container-title {
	margin-top: -720px;
}

.title-container .title-content {
	text-align: center;
	width: 100%;
	height: 25%;
}

.title-content h4 {
	font-size: 130px;
}

.title-content span {
	display: block;
	font-size: 25px;

	position: relative;
	top: -120px;
	left: 0;
}


.title-content strong {
	color: #000;
	font-size: 35px;
	padding: 10px 150px;
	text-align: center;
}

.title-content p {
	font-size: 20px;
	text-align: center;
	padding: 20px 50px;
}

.title-content .picDiv1 {
	height: 50%;
}

.picDiv1 .pic-box {
	height: 100%;
}
.pic-box .Pic {
	height: 100%;
}

.title-container .items-container {
	width: 90%;
	height: 35%;
	margin-top: 130px;
}

.items-container .list {
	margin: 70px 0 0 0;
}

.list:hover {
	transform: none;
}

.list .items-list-numbers {
	width: 150px;
	height: 150px;
	margin: auto 260px;
	display: block;
}

.items-list-numbers:hover span {
	transition: none;
}

.items-list-numbers span {
	font-size: 50px;
}

.list .items-list-content {
	width: 100%;
	text-align: center;
}

.items-list-content strong {
	font-size: 30px;
	padding: 20px 0 0 0;
}

.items-list-content span {
	padding: 10px 20px 0 20px;
}

.title-container .container4-title {
	width: 100%;
	height: 40vh;
	margin: 15px 0;
	text-align: center;
}

.container4-title h5 {
	font-size: 90px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.container4-title span {
	font-size: 20px;
	display: block;

	position: relative;
	top: -70px;
	left: 0;
}

.container4-title strong {
	font-size: 45px;
	padding: 0 0 20px 5px;
	margin-top: -50px;
	text-align: center;
}

.container4-title p {
	font-size: 20px;
	text-align: center;
	padding: 10px 80px;
}

.title-container .formDiv {
	width: 90%;
	height: 50vh;
	margin: auto 40px;

	position: relative;
	right: 0;
}

.formDiv label {
	font-size: 18px;
	padding: 10px 0 0 0;
	margin: auto 125px;
}

.formDiv input {
	padding: 10px 100px;
}

.formDiv select {
	margin: 0 0 0 125px;
	border-radius: 1rem;
	padding: 5px;
}

.formDiv textarea {
	padding: 20px 50px;
	margin: 20px auto 10px;
}

.formDiv button {
	margin: auto 125px 0 0;
}

.logo-container {
	width: 100%;
	padding: 40px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 50%;
	height: 100px;
}

.logo-box img {
	height: 70px;
}

.logo-container .box-2 {
	align-self: center;
	margin: auto;
}

.logo-container .logo-content {
	padding: 5px 0;
}

.logo-content span {
	font-size: 10px;
	padding: 0;
	margin: 0;
}

.footer {
	width: 100%;
	height: 35vh;
	text-align: center;
}

.footer img {
	height: 60px;
	margin: 40px 0 0 0;
}

.footer span {
	font-size: 15px;
	padding: 20px 145px;
	line-height: 1.9rem;
}

.footer .footer-socials {
	width: 30%;
	height: 5vh;
	margin: 20px auto 0;
	padding: 0;
	display: flex;
	align-content: flex-start;
	justify-content: space-evenly;
}

.footer-socials .facebook-footer {
	display: block;
	height: 45px;
	padding: 10px 20px;
	background-color: #f8c617;
}

.facebook-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -5px;
}

.facebook-footer:hover {
	background-color: #004d99;
	transition: 0.5s ease-in-out;
}

.footer-socials .twitter-footer {
	display: block;
	height: 45px;
	padding: 10px 20px;
	background-color: #f8c617;
}

.twitter-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.twitter-footer:hover {
	background-color: dodgerblue;
	transition: 0.5s ease-in-out;
}

.footer-socials .instagram-footer {
	display: block;
	height: 45px;
	padding: 10px 20px;
	background-color: #f8c617;
}

.instagram-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.instagram-footer:hover {
	background-image: linear-gradient(to right, purple, hotpink, orange);
	transition: 0.5s ease-in-out;
}

.footer-socials .youtube-footer {
	display: block;
	height: 45px;
	padding: 10px 20px;
	background-color: #f8c617;
}

.youtube-footer i {
	font-size: 20px;
	color: #252c37;
	margin: auto -10px;
}

.youtube-footer:hover {
	background-color: red;
	transition: 0.5s ease-in-out;
}

.footer1 {
	height: 8vh;;
}

.phone {
	width: 100%;
	display: block;
}

.phone .sm2-phone {
	width: 10%;
}

.sm2-phone i {
	font-size: 25px;
	padding-top: 8px;
	margin-left: -5px;
}

.phone .sm2-contact {
	width: 90%;
}


}









































@media only screen and (min-width: 1200px) {

.col-lg-1 {
    width: 8.33%;
}
.col-lg-2 {
   width: 16.66%;
}
.col-lg-3 {
   width: 25%;
}
.col-lg-4 {
   width: 33.33%;
}
.col-lg-5 {
   width: 41.66%;
}
.col-lg-6 {
   width: 50%;
}
.col-lg-7 {
   width: 58.33%;
}
.col-lg-8 {
   width: 66.66%;
}
.col-lg-9 {
   width: 75%;
}
.col-lg-10 {
   width: 83.33%;
}
.col-lg-11 {
   width: 91.66%;
}
.col-lg-12 {
   width: 100%;
}







.parent-contact,
.parent-banner {
	display: block;
}

.sm-parent {
	height: 8vh;
	display: none;
}

.parent-banner {
	display: block;
}

.body {
	display: block;
	height: 20vh;
}

.left .services {
	margin-top: 100px;
}

.container h1 {
	display: block;
	font-size: 150px;
}

.container span {
	padding: 10px 0;
	display: block;
	font-size: 30px;

	position: relative;
	top: -150px;
}

.container strong {
	font-size: 50px;
	padding: 5px 0 20px 0;
}

.container .parent-card {
	margin: 50px 0;
	height: 60%;
}

.card-container .box {
	width: 25%;
	height: 100%;
	padding: 20px;
}

.card-container .icon-box {
	width: 100px;
	height: 100px;
}

.box .card {
	height: 100%;
	text-align: center;
}

.card strong {
	font-size: 25px;
	padding: 0 35px 0 35px;
	margin-top: 5px;
}

.card p {
	font-size: 15px;
	font-weight: 300;
	padding: 15px 42px 90px 42px;
	line-height: 2rem;

}

.card button {
	padding: 15px 80px;
}

.card button a {
	font-size: 15px;
	font-weight: 600;
}

.section .section-lft {
	width: 50%;
	height: 20%;
	text-align: center;
	margin: 100px 0 0 0;
	text-align: left;
}

.section-lft span {
	font-size: 20px;
	padding: 10px 20px;
}

.section-lft h2 {
	font-size: 45px;
	padding: 10px 20px 0 20px;
}

.section .section-rgt {
	width: 50%;
	height: 20%;
	padding: 0;
	margin: 100px 0 0 0;
}

.section-rgt p {
	font-size: 20px;
	padding: 10px 30px;
	text-align: left;
}

.section .flip-container {
	height: 50%;
}

.flip-container .card-container-flip {
	padding: 10px;
	margin: 0;
}

.flip-container .card-container-flip {
	width: 33.3%;
	height: 100%;
	padding: 20px;
	margin: 150px 0 0 0;
}

.card-container-flip .card-flip {
	width: 100%;
	height: 100%;

	background-position: center;
}

.card-flip .cardText {
	position: relative;
	top: 350px;
}

.card-container-flip .card-flip2 {
	width: 100%;
	height: 100%;
	margin-top: 0;
}

.card-flip2 .cardText {
	position: relative;
	top: 350px;
}

.card-container-flip .card-flip3 {
	width: 100%;
	height: 100%;
	margin: 0;
}

.card-flip3 .cardText {
	position: relative;
	top: 350px;
}

.cardText .card-title {
	font-weight: 600;
}

.card-flip3 .card-content3 button {
	border: none;
	margin: 50px 0 0 30px;
}

.container2 {
	height: 200vh;
	margin: 0;

	position: relative;
	top: 0;
}

.container2 h3 {
	font-size: 150px;

	position: relative;
	top: 70px;
}

.container2 span {
	display: block;
	font-size: 25px;

	position: relative;
	top: -60px;
}

.container2 strong {
	color: #000;
	font-size: 50px;
	font-weight: 700;

	position: relative;
	top: 70px;
}

.container2 .section2 {
	margin-top: 150px;
}

.section2 .section2-container {
	width: 50%;
	height: 100%;
	margin: 0;
}

.section2-box span {
	margin: 50px 200px 20px 200px;
	position: relative;
	top: 0;
}

.container2 .container3 {
	margin-top: 0;
	height: 24%;
}

.container3 .left {
	width: 75%;
	height: 100%;
	float: left;
	margin: 0;
}

.left .icon-box {
	margin: 100px 0 0 30px;
}

.left strong {
	font-size: 30px;
	padding: 10px 10px;
	color: #252c37;
	display: block;

	position: relative;
	left: -10px;
	top: -80px;
}

.left span {
	font-size: 20px;
	padding: 10px 10px;
	line-height: 1.9rem;

	position: relative;
	top: -100px;
	right: 13px;
}

.container3 .right {
	height: 100%;
	width: 25%;
	margin: 0;
}

.right button {
	margin: 100px 0 0 0;
}

.container-title {
	margin: 0;
}

.title-container .title-content {
	text-align: center;
	width: 60%;
	height: 60%;
	text-align: left;
}

.title-content h4 {
	font-size: 150px;
}

.title-content span {
	display: block;
	font-size: 25px;

	position: relative;
	top: -130px;
	left: 50px;
}


.title-content strong {
	color: #000;
	font-size: 50px;
	margin-top: -90px;
	padding: 20px 30px;
	text-align: left;
}

.title-content p {
	font-size: 20px;
	text-align: left;
	padding: 0 200px 30px 30px;
}

.title-content .picDiv1 {
	width: 80%;
	height: 40%;
	margin: 70px 0 0 0;
}

.picDiv1 .pic-box {
	height: 100%;
}
.pic-box .Pic {
	height: 100%;
}

.title-container .items-container {
	width: 40%;
	height: 60%;
	margin: 0;
}

.items-container .list {
	height: 150px;
	margin: 150px 0 0 0;
}

.list:hover {
	transform: translate(-50px);
}

.list .items-list-numbers {
	width: 30%;
	height: 100%;
	margin: 0;
}

.items-list-numbers span {
	font-size: 55px;
	padding: 30px;
}

.list .items-list-content {
	width: 70%;
	height: 100%;
/*	padding: 0;*/
}

.items-list-content strong {
	font-size: 30px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.items-list-content span {
	font-size: 18px;
	padding: 10px 0;
	text-align: left;
}

.title-container .container4-title {
	width: 60%;
	height: 90vh;
	float: left;
	margin-top: 55px;
	background-color: #252c37;
}

.container4-title h5 {
	color: #ac9653;
	text-transform: uppercase;
	font-size: 120px;
	font-weight: 900;
	text-align: left;
	margin: 10px 0 0 40px;
}

.container4-title span {
	font-size: 20px;
	font-weight: 400;
	color: gold;
	text-transform: uppercase;
	text-align: left;

	position: relative;
	top: -110px;
	left: 110px;
}

.container4-title strong {
	font-size: 45px;
	color: #fefefe;
	display: block;
	text-align: left;
	padding: 0 250px 0 50px;
}

.container4-title p {
	font-size: 20px;
	color: #cccc;
	padding: 20px 120px 0 50px;
	text-align: left;
	line-height: 1.9rem;
}


.title-container .formDiv {
	width: 40%;
	height: 70vh;
	float: left;
	margin: 110px auto;
	background-color: #f8c617;
	padding: 5px 30px;

	position: relative;
	right: 100px;
}

.formDiv label {
	font-size: 12px;
	color: #867c79;
	text-transform: capitalize;
	display: block;
	padding: 5px 50px 5px 20px;
	margin: auto 55px;
}

.formDiv input {
	padding: 10px 60px;
	margin: auto;
	display: block;
	border: none;
}

.formDiv select {
	padding: 10px 65px;
	display: block;
	border: none;
	text-transform: capitalize;

	margin: auto;
	border-radius: 1rem;
}
.formDiv option {
	text-transform: capitalize;
	border: none;
}

.formDiv textarea {
	margin: 15px auto 0;
	display: block;
	padding: 5px 10px 0 10px;
}

.formDiv button {
	border: none;
	color: #fefefe;
	font-weight: 700;
	float: right;
	display: block;
	padding: 15px 20px;
	margin: 15px 75px 0 0;
	background-color: #252c37;
	text-transform: capitalize;
}

.logo-container {
	padding: 5px;
	display: flex;
	align-content: flex-start;
}

.logo-container .logo-box {
	width: 250px;
	height: 150px;
	text-align: center;
	padding: 40px;
}

.logo-box img {
	height: 70px;
}

.logo-container .box-2 {
	align-self: none;
}

.footer {
	width: 100%;
	height: 80vh;
	text-align: center;
}

.footer img {
	height: 20%;
	margin: 60px 0 0 0;
}

.footer span {
	display: block;
	color: #cccc;
	font-size: 20px;
	line-height: 2rem;
	padding: 30px 380px;
}

.footer .footer-socials {
	width: 25%;
	height: 10vh;

}


.footer .facebook-footer {
	height: 60px;
	padding: 15px 30px;
}

.facebook-footer i {
	font-size: 25px;
	margin-left: -8px;
}

.footer .twitter-footer {
	height: 60px;
	padding: 15px 30px;
}

.twitter-footer i {
	font-size: 25px;
	margin-left: -10px;
}

.footer .instagram-footer {
	height: 60px;
	padding: 15px 30px;
}

.instagram-footer i {
	font-size: 25px;
	margin-left: -10px;
}

.footer .youtube-footer {
	height: 60px;
	padding: 15px 30px;
}

.youtube-footer i {
	font-size: 25px;
	margin-left: -13px;
}

.footer1 {
	height: 10vh;
}

.footer-lft span {
	padding: 10px 0;
}

.footer-rgt a {
	padding: 10px 10px;
}

.phone {
	display: none;
}

}