
/* ============THE COLOR VARIABLES FOR THE WEBSITE============= */
:root {
    --color-one-purple: #AC01FF;
    --color-two-blue2: #1dcffc56;
    --color-two-blue: #1DCFFC;
    --color-three-darkblue: #1F232F;
    --color-three-darkblue2: #2b3141;
    --color-four-gray: #9AA0A7; /* text color*/
    --color-four-gray2: #9aa0a752;
    --color-five-white: #ffffff;
    --border-radius:26px 26px 26px 26px;
    --box-shadow: 7px 7px 15px 0px #0E1015;
}

/* ============THE FONTS FOR THE WEBSITE============= */
@font-face {
    font-family: PRO-FONT1;
    src: url(/assets/fonts/Fontspring-DEMO-proximanova-regular.otf);
}
@font-face {
    font-family: PRO-FONT2;
    src: url(/assets/fonts/Fontspring-DEMO-proximanova-bold.otf);
}
@font-face {
    font-family: PRO-FONT3;
    src: url(/assets/fonts/Fontspring-DEMO-proximanova-semibold.otf);
}
@font-face {
    font-family: PRO-FONT4;
    src: url(/assets/fonts/Manrope-ExtraLight.ttf);
}


/* ============THE UNVERSAL OR GLOBAL SELECTOR============= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .move_in{
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 0.6s ease-out, transform 0.8s ease-out;    
    }
       
    .move_in.visible{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flash {
    0%{
      opacity: 0;
  
      }

    100%{
      opacity: 1;
    }
}

/* ============STYLING AND ANIMATION FOR THE HTML TAG============= */
html{
    scroll-behavior: smooth;
    animation: flash 2s linear;
}


/* ============STYLING FOR THE BODY TAG============= */
body{
    min-height: 100vh;
    position: relative;
    background-image: radial-gradient(at top right, var(--color-three-darkblue) 25%, #222633 100%);
}


/* ============STYLING FOR GOOGLE LANGUAGE TRANSLATOR=============//AT THE TOP// */
.google-translator{
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    font-family: PRO-FONT3;
    background: var(--color-three-darkblue);



}

/* ============STYLING FOR DESKTOP NAVBAR============= */
.desktop_navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
    background: var(--color-three-darkblue);



}
.desktop_navbar .wrapper > nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-four-gray2);
    width: 100%;
    


} 
/* ============STYLING FOR HAMBURGER MENU ICON AND ANIMATION============= //ONLY VISIBLE IN TABLET AND MOBILE SIZES// */
.desktop_navbar .wrapper > nav .hamburger{
    display: none;
    scale: 0.6;
}
.desktop_navbar .wrapper > nav .hamburger .line{
    width: 50px;
    height: 5px;
    background: white;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    display: flex;
    flex-direction: column;
    margin: 9px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  
  #hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-15px) rotate(90deg);
    -ms-transform: translateY(-15px) rotate(90deg);
    -o-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
/* ============HAMBURGER MENU ICON AND ANIMATION ENDS HERE============= */


  

/* ============STYLING FOR DESKTOP NAVBAR **CONTINUES HERE** ============= */
.desktop_navbar .wrapper > nav .logo{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    
}
.desktop_navbar .wrapper > nav .logo .logo_wrapper{
    height: 60px;
    width: 60px;
    margin-inline-start: 30px;
}
.desktop_navbar .wrapper > nav .logo .logo_wrapper img{
    max-width: 100%;
}
.desktop_navbar .wrapper > nav .logo .logo_name{
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    font-size: 20px;
    font-weight: inherit;

}
.desktop_navbar .wrapper > nav > ul{
    display: flex;
    gap: 30px;
    padding-inline-end: 30px;
    align-items: center;

}
.desktop_navbar .wrapper > nav > ul > li{
    list-style: none;
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(3) .sub_menu{
    position: absolute;
    justify-content: center;
    padding: 20px 29px;

    gap: 27px;
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background: var(--color-three-darkblue);
    box-shadow: 7px 3px 40px rgba(0, 0, 0, 0.493);
    text-align: left;
    transform: translateY(40%) translateX(-22%);
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.80s;
    
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(3) .sub_menu > li{
    list-style: none;
    padding-bottom: 10px;
    cursor: pointer;

}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(3) .sub_menu > li:hover a{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(3):hover .sub_menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(20%) translateX(-22%);

}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(5){
    padding-inline: 45px;
    padding-block: 15px;
    background: var(--color-three-darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-radius);
    transition: all 0.6s ease;
    cursor: pointer;
    
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(5):after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 107%;
    width: 103%;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    border-radius: inherit;
    z-index: -1;
    transition: all 0.6s ease;
    

}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(5):hover{
    z-index: 0;
    transition: 0.6s ease;
    box-shadow: none;
    
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(5) a{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.desktop_navbar .wrapper > nav > ul > li:nth-of-type(5):hover a{
    background: var(--color-five-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}


.desktop_navbar .wrapper > nav > ul > li a{
    color: var(--color-five-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: PRO-FONT3;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 13.3px;
    transition: all 0.5s ease;
}
.desktop_navbar .wrapper > nav > ul > li a:hover{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
/* ============STYLING FOR DESKTOP NAVBAR END HERE============= */




/* ============STYLING FOR MOBILE NAVBAR============= //TRANSLATED OUT OF VIEW// */
.mobile_navbar{
    position: fixed;
    top: 170px;
    /* height: 100vh; */
    width: 70px;
    border-radius: var(--border-radius);
    padding-block-end: 30px;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.406);
    transform: translateX(-50vh);
    background: var(--color-three-darkblue);
    margin-inline-start: 10px;
    transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 10000;
   
}
.mobile_navbar .wrapper ul{
    display: flex;
    gap: 30px;
    padding-block-start: 30px;
    flex-direction: column;
    padding-inline-start: 20px;

}
.mobile_navbar .wrapper ul li{
    list-style: none;
    border-radius: 50%;
    
}
/* ============STYLING FOR MOBILE NAVBAR END HERE============= //TRANSLATED OUT OF VIEW// */








/* ============STYLING FOR HOME PAGE BANNER============= */
.home_banner{
    background-image: url(/assets/images/BG___.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 50px;
    animation:  bannerTranform 15s infinite forwards;

}
@keyframes bannerTranform {
    25% {
        background-position: 20%  20%;
        background-position-y: bottom;


    }
}



.home_banner .text_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
}
.home_banner .text_content .big_text{
    font-family: PRO-FONT4;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 42px;
    padding-inline: 50px;
    margin-block-start: 7%;
    color: var(--color-five-white);
}
.home_banner .text_content .big_text > span{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.home_banner .text_content .small_text_wrapper .small_text{
    font-family: PRO-FONT4;
    font-size: 30px;
    letter-spacing: 0.7px;
    margin-block-start: 10px;
    color: var(--color-four-gray);

}
.home_banner .text_content .small_text_wrapper .small_text:nth-of-type(2){
    display: none;
}

.home_banner .evoloution {
    /* height: 100vh; */
    width: 100%;


}
.home_banner .evoloution > .wrapper{
    display: flex;
    margin-block-start: 70px;
    padding-bottom: 80px;
}
.home_banner .evoloution .left_axiz{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    padding-block-start: 30px;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.home_banner .evoloution > .wrapper .left_axiz .btn{
    display: flex;
    gap: 30px;
    z-index: 100;
}

.home_banner .evoloution > .wrapper .left_axiz .btn a{
    padding-inline: 45px;
    padding-block: 15px;
    background: var(--color-three-darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-radius);
    transition: all 0.6s ease;
    cursor: pointer;
    color: var(--color-five-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: PRO-FONT3;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 13.3px;
    transition: all 0.5s ease;
    
}
.home_banner .evoloution > .wrapper .left_axiz .btn a:nth-of-type(1){
    box-shadow: var(--box-shadow);
    background: var(--color-five-white);
    color: var(--color-three-darkblue);
    font-weight: bold;

}
.home_banner .evoloution > .wrapper .left_axiz .btn a:nth-of-type(2):after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 107%;
    width: 103%;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    border-radius: inherit;
    z-index: -1;
    transition: all 0.6s ease;

}
.home_banner .evoloution > .wrapper .left_axiz .text{
    margin-block-start: 30px;
    font-family: PRO-FONT1;
    color: var(--color-four-gray);
    font-size: 20px;


}

.home_banner .evoloution > .wrapper .right_axiz{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_banner .evoloution > .wrapper .right_axiz .big_text{
    font-size: 33px;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: PRO-FONT3;

}
.home_banner .evoloution > .wrapper .right_axiz .small_text{
    font-family: PRO-FONT1;
    font-size: 18px;
    letter-spacing: 0.7px;
    padding-inline: 40px;
    line-height: 32px;
    margin-block-start: 10px;
    color: var(--color-four-gray);
    text-align: center;

}
/* ============STYLING FOR HOME PAGE BANNER END HERE============= */




/* ============STYLING FOR SECTIONS OF THE HOME PAGE============= */
.section_1{
    /* height: 100vh; */
    width: 100%;
    /* border: 2px solid red; */
}
.section_1 > .wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}
.section_1 > .wrapper .image{
    height: 600px;
    width: 50%;
    padding: 10px;
}
.section_1 > .wrapper .image .image_wrapper{
    height: 100%;
    width: 100%;
}
.section_1 > .wrapper .image .image_wrapper img{
    max-width: 100%;
}
.section_1 > .wrapper .text{
    /* height: 500px; */
    width: 50%;
}
.section_1 > .wrapper .text header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section_1 > .wrapper .text header > div:nth-of-type(1){
    font-size: 20px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;

}
.section_1 > .wrapper .text header > div:nth-of-type(2){
    font-size: 33px;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: PRO-FONT3;
}
.section_1 > .wrapper .text article{
    font-family: PRO-FONT1;
    font-size: 20px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    line-height: 34px;
    margin-block-start: 10px;
    color: var(--color-four-gray);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section_1 > .wrapper .text .btn a{
    padding-inline: 45px;
    padding-block: 15px;
    background: var(--color-three-darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-radius);
    transition: all 0.6s ease;
    cursor: pointer;
    color: var(--color-five-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: PRO-FONT3;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 13.3px;
    transition: all 0.5s ease;
    width: 200px;
    margin-top: 30px;

}
.section_1 > .wrapper .text .btn a:after{
    /* margin-top: 30px; */
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 107%;
    width: 103%;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    border-radius: inherit;
    z-index: -1;
    transition: all 0.6s ease;
}


/* ROBOT HAND STYLING */
.section_2{
    margin-bottom: 160px;
}
.section_2 .robot_hand{
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    right: 0;
    transform: translateY(-150px);
    
}
.section_2 .robot_hand img{
    transform: translateX(150px);

}
.section_2 .robot_hand2{
    position: absolute;
    transform: translateY(-68px);
    left: -300px;
    z-index: 1;
}
/* ROBOT HAND STYLING END HERE */



.section_2 > .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-inline: 30px;
}

.section_2 > .wrapper > .card{
    background: var(--color-three-darkblue);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-block: 30px;
}
.section_2 > .wrapper > .card:after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 101%;
    width: 101%;
    background: radial-gradient(at top left, var(--color-three-darkblue2) 30%, var(--color-three-darkblue2) 100%);
    border-radius: inherit;
    z-index: -1;
    padding-block-start: 2px;
    transition: all 0.6s ease;
}
.section_2 > .wrapper > .card:hover:after{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

}
.section_2 > .wrapper > .card .wrapper{
    display: flex;
    flex-direction: column;
    padding-inline-start: 29px;
}
.section_2 > .wrapper > .card .wrapper .big_text{
    font-size: 20px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
    margin-block-end: 10px;
}

.section_2 > .wrapper > .card .wrapper .small_text{
    font-family: PRO-FONT1;
    font-size: 15px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    line-height: 34px;
    margin-block-start: 10px;
    color: var(--color-four-gray);
}

.section_3{
    display: block;
}

.section_3 .wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section_3 .wrapper header{
    display: flex;
    flex-direction: column;
    margin-block: 40px;
}
.section_3 .wrapper header .big_text{
    font-size: 32px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
    margin-block-end: 10px;
    padding-inline-start: 30px;

    
}
.section_3 .wrapper header .small_text{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-inline-start: 30px;

}
.section_3 .wrapper header .small_text article{
    font-family: PRO-FONT1;
    font-size: 17px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    line-height: 34px;
    margin-block-start: 10px;
    color: var(--color-four-gray);
}
.section_3 .wrapper header .small_text a{
    padding-inline: 45px;
    padding-block: 15px;
  
    transition: all 0.6s ease;
    cursor: pointer;
    color: var(--color-five-white);
    text-decoration: none;
    font-family: PRO-FONT3;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 15.3px;
    transition: all 0.5s ease;
    margin-inline-end: 30px;
    width: 200px;
}
.section_3 .wrapper header .small_text a:hover{
    background: radial-gradient(at top left, var(--color-two-blue), var(--color-one-purple) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.section_3 .wrapper .card_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-inline: 30px;

}
.section_3 .wrapper .card_wrapper .card{
    /* height: 300px; */
    padding-block: 50px;
    background: var(--color-three-darkblue);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.section_3 .wrapper .card_wrapper .card:after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 101%;
    width: 101%;
    background: radial-gradient(at top left, var(--color-three-darkblue2) 30%, var(--color-three-darkblue2) 100%);
    border-radius: inherit;
    z-index: -1;
    transition: all 0.6s ease;
}
.section_3 .wrapper .card_wrapper .card:hover:after{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

}

.section_3 .wrapper .card_wrapper .card > .wrapper{
    display: flex;
    padding-inline-start: 29px;

}
.section_3 .wrapper .card_wrapper .card > .wrapper .image{
    height: 80px ;
    width: 60px;

}
.section_3 .wrapper .card_wrapper .card > .wrapper .image .image_wrapper{
    height: 100%;
}
.section_3 .wrapper .card_wrapper .card > .wrapper .image .image_wrapper img{
    max-width: 100%;
}

.section_3 .wrapper .card_wrapper .card > .wrapper .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_3 .wrapper .card_wrapper .card > .wrapper .text .big_text{
    font-size: 22px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
    margin-block-end: 10px;
}

.section_3 .wrapper .card_wrapper .card > .wrapper .text .small_text{
    font-family: PRO-FONT1;
    font-size: 17px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    line-height: 34px;
    color: var(--color-four-gray);
}


.section_3-continue{
    margin-top: 80px;
    display: flex;
    padding-inline-start: 50px;
    justify-content: center;
    align-items: center;
    font-family: PRO-FONT3;
}


.blog-slider {
    width: 95%;
    position: relative;
    /* max-width: 800px; */
    margin: auto;
    background: var(--color-three-darkblue);
    padding: 25px;
    border-radius: var(--border-radius);
    height: 400px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

 }
.blog-slider:after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 101.2%;
    width: 100.2%;
    background: radial-gradient(at top left, var(--color-three-darkblue2) 30%, var(--color-three-darkblue2) 100%);
    border-radius: inherit;
    transition: all 0.6s ease;
    z-index: -1;

}

  @media screen and (max-width: 992px) {
    .blog-slider {
      /* max-width: 780px; */
      height: unset;
   }
 }
  @media screen and (max-width: 768px) {
    .section_3-continue{
        padding-inline: 20px;
        margin-block-start: 170px;
    }
    
    .blog-slider {
      /* min-height: 500px; */
      /* margin: 180px auto; */
   }


 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      /* height: 350px; */
   }
 }
  .blog-slider__item {
    display: flex;
    align-items: center;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
   }
 }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
 }
 .blog-slider__item:nth-of-type(1) .blog-slider__img{
     box-shadow: 4px 12px 30px #1dcffc15, -30px 0 100px #aa01ff22;
 }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
 }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
   }
   .blog-slider__text {
    padding-inline: 20px;
    padding-inline-end: 0px;
    
 }

 }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
   }
 }
  .blog-slider__content {
    padding-right: 25px;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
   }
 }
  .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
 }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
 }
  .blog-slider__title {
    font-size: 32px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
    margin-bottom: 20px;
 }
  .blog-slider__text {
    font-family: PRO-FONT1;
    font-size: 17px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    padding-block-end: 20px;
    line-height: 34px;
    color: var(--color-four-gray);

 }
  .blog-slider__button {
    display: inline-flex;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 4px 13px 30px #1dcffc15, -40px 0 100px #aa01ff22;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
 }

  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
   }
 }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
 }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
 }
 .blog-slider__pagination.swiper-pagination-bullets{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    /* margin: 9px 0; */
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets{
        flex-direction: row;
        gap: 8px;
     }
    
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {

   }

 }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: var(--color-four-gray);
    opacity: 0.2;
    transition: all 0.3s;
 }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
   }
 }
  

.section_4{
    margin-block-start: 150px;
    width: 100%;
}

.section_4 > .wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_4 > .wrapper > header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block-end: 20px;
    flex-direction: column-reverse;
}
.section_4 > .wrapper > header .head_text{
    font-size: 32px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
    margin-block-end: 10px;
}
.section_4 > .wrapper > header .dash{
    width: 60px;
    height: 3px;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

}
.section_4 > .wrapper > .card_wrapper{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-inline: 30px;



}   

.section_4 > .wrapper > .card_wrapper  > .card{
    /* padding-block: 50px; */
    background: var(--color-three-darkblue);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}
.section_4 > .wrapper > .card_wrapper  > .card:after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 101%;
    width: 101%;
    background: radial-gradient(at top left, var(--color-three-darkblue2) 30%, var(--color-three-darkblue2) 100%);
    border-radius: inherit;
    transition: all 0.6s ease;
    z-index: -1;
}
.section_4 > .wrapper > .card_wrapper  > .card:hover:after{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block-start: 60px;
    width: 80%;


    
}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .big_text{
    font-size: 22px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    background: radial-gradient(at top left, var(--color-two-blue), var(--color-one-purple) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .percentage{
    display: flex;
    align-items: end;
    gap: 7px;
}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .percentage > span:nth-of-type(1){
    font-size: 60px;
    color: var(--color-five-white);
    font-family: PRO-FONT4;
    font-weight: 600;

}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .percentage > span:nth-of-type(2){
    font-family: PRO-FONT4;
    background: radial-gradient(at top left, var(--color-two-blue), var(--color-one-purple) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-block-end: 10px;
    font-size: 30px;


}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .small_text{
    font-size: 15px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;
    text-transform: uppercase;
}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper header .small_text > span{
    font-family: PRO-FONT4;
    font-weight: 600;

}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .list{
    display: flex;
}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .list ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: var(--color-four-gray);
    font-family: PRO-FONT1;

}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .list ul li{
    list-style: none;
    display: flex;
    gap: 16px;
}
.section_4 > .wrapper > .card_wrapper  > .card:hover li{
    color: var(--color-five-white);
}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .list ul li span:nth-of-type(1){
    font-family: PRO-FONT4;
    font-weight: 600;
    background: radial-gradient(at top left, var(--color-two-blue), var(--color-one-purple) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .list ul li span:nth-of-type(3){
    font-family: PRO-FONT4;
    font-weight: 600;
}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .btn{
    width: 300px;
    margin-block-end: 60px;
    z-index: 1;
}

.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .btn a{
    padding-inline: 45px;
    padding-block: 15px;
    background: var(--color-three-darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-radius);
    transition: all 0.6s ease;
    cursor: pointer;
    color: var(--color-five-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: PRO-FONT3;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 13.3px;
    transition: all 0.5s ease;
    width: 200px;
    margin-top: 30px;
    /* background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%); */

    
    
}
.section_4 > .wrapper > .card_wrapper  > .card > .wrapper .btn a:after{
    box-shadow: var(--box-shadow);
    content: '';
    position: absolute;
    height: 107%;
    width: 103%;
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);
    border-radius: inherit;
    transition: all 0.6s ease;
    z-index: -1;
}
.section_4 > .wrapper > .card_wrapper  > .card .btn a:hover{
    background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%);

}

.section_5{
    /* height: 100vh; */
    width: 100%;
    padding: 30px;
}
.section_5 > .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section_5 > .wrapper > .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 300px; */
    height: 300px;
    /* border: 2px solid; */
    padding: 20px;
}
.section_5 > .wrapper > .card .number_line{
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.section_5 > .wrapper > .card .number_line .number{
    border-radius: 50%;
    /* padding: 10px; */
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: PRO-FONT4;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid var(--color-four-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-five-white);
    box-shadow: 0 0 5px 20px var(--color-three-darkblue);

}
.section_5 > .wrapper > .card .number_line > .line{
    /* width: 22vw; */
    width: 80%;
    height: 1.5px ;
    /* background: radial-gradient(at top left, var(--color-two-blue) 30%, var(--color-one-purple) 100%); */
    background: var(--color-four-gray);

}

.section_5 > .wrapper > .card .big_text{
    font-size: 22px;
    color: var(--color-five-white);
    font-family: PRO-FONT3;

}
.section_5 > .wrapper > .card .small_text{
    font-family: PRO-FONT1;
    font-size: 17px;
    letter-spacing: 0.7px;
    padding-inline-end: 30px;
    line-height: 34px;
    color: var(--color-four-gray);
}
.section_5 > .wrapper > .card .small_text:hover{
    color: var(--color-five-white);
}













/* <!-- ============ STYLING FOR PRELOADER ANIMATION============= --> //VISIBLE ONCE A LINK IS CLICKED//*/
 .preloader_animation{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 30000;
    height: 100vh;
    width: 100%;
    top: 0;
    background: var(--color-three-darkblue);
    transition: all 0.5s ease-in-out;
 }
 .preloader_animation > .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 .preloader_animation > .wrapper > .logo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

 }
 .preloader_animation > .wrapper > .logo .image_wrapper{
    height: 100px;
    width: 100px;
 }
 .preloader_animation > .wrapper > .logo .image_wrapper img{
    max-width: 100%;
    animation: zoom 2s ease-in-out infinite;

 }
 @keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
 .preloader_animation > .wrapper > .loading_svg {
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .preloader_animation > .wrapper > .loading_svg .image_wrapper{
    height: 50px;
    width: 50px;

 }
 .preloader_animation > .wrapper > .loading_svg .image_wrapper img{
    max-width: 100%;

 }

 .show_preloader{
    visibility: visible;
    opacity: 1;
}





/* <!-- ============ STYLING FOR TRADING VIEW WIDGET ============= --> **POSITION FIXED TO THE BOTTOM** */
.tradingview-widget-container{
    width: 100%;
    height: 46px;
    position: fixed; 
    bottom: 0;
    z-index: 300;
}


